.panel.panel-primary
    .panel-heading
        .panel-title {{filedetails.name || urlLink.name+urlLink.type || "Google User Account Details"}}
            button.btn.btn-link.btn-sm.pull-right(ng-click="delete()"): i.fa.fa-trash.fa-lg.text-danger
    .panel-body
        img.img-responsive.img-rounded(ng-if='filedetails.type=="image"', ng-src='{{ filedetails.path }}')
        video.img-responsive.img-rounded(ng-if='filedetails.type=="video"', controls, ng-src='{{ filedetails.path }}')
        audio(ng-if='filedetails.type=="audio" || filedetails.type=="radio"',controls)
            source(ng-src='{{filedetails.path}}',type="audio/mpeg")
        iframe(ng-if='filedetails.type=="html"', ng-src='{{ filedetails.path }}')
        iframe(ng-if='filedetails.type=="pdf"',height="300px",width="100%",ng-src='{{filedetails.path}}')
        form(role="form",name="linkform",ng-show='fileType=="link"')
            .form-group.row(ng-if="urlLink.type != '.txt'")
                label.control-label.text-muted.col-sm-3.text-right: small Address
                .col-sm-6
                    .input-group
                        input.form-control(type='text' name='linkAddress' ng-model='urlLink.link' required='')
                        span.input-group-btn
                        a.btn.btn-default(ng-disabled='!urlLink.link' href='{{urlLink.link}}' target='_blank')
                            i.fa.fa-external-link
            .form-group.row
                label.control-label.text-muted.col-sm-3.text-right: small Type
                .col-xs-7
                    span {{urlLink.type == ".tv"?"You Tube":urlLink.type.slice(1)}}
            .form-group.row(ng-if="urlLink.type == '.mrss'")
                label.control-label.text-muted.col-sm-3.text-right: small RSS Text
                .col-sm-9
                    .radio-inline
                        label
                            input(type='radio',name='radio_none', ng-model='urlLink.hideTitle', value="none")
                            small image
                    .radio-inline
                        label
                            input(type='radio',name='radio_title', ng-model='urlLink.hideTitle', value="title")
                            small image&title
                    .radio-inline
                        label
                            input(type='radio',name='radio_description', ng-model='urlLink.hideTitle', value="description")
                            small image&description
                    .radio-inline
                        label
                            input(type='radio',name='radio_title_noimg', ng-model='urlLink.hideTitle', value="onlytitle")
                            small title
                    .radio-inline
                        label
                            input(type='radio',name='radio_description_noimg', ng-model='urlLink.hideTitle', value="onlydescription")
                            small descr
            .form-group.row(ng-if="urlLink.type == '.mrss'")
                label.control-label.text-muted.col-sm-3.text-right: small Number of Items
                .col-sm-3
                    input.form-control(type='number',name='count',placeholder='{{"Number of Items to show" }}',
                        ng-model='urlLink.numberOfItems')
                label.control-label.text-muted.col-sm-3.text-right: small Item duration (use playlist duration & number of items instead after 2.4.0)
                .col-sm-3
                    input.form-control(type='number',name='duration',placeholder='{{"Duration of each feed item"}}',
                    ng-model='urlLink.duration')

            .form-group.row(ng-if="urlLink.type == '.txt'|| urlLink.type == '.mrss'")
                label.control-label.text-muted.col-sm-3.text-right: small Optional CSS
                .col-sm-6
                    input.form-control(type='text',name='style',placeholder='e.g. color:#eee; font-style:italic;',
                        ng-model='urlLink.style')

            .form-group.row(ng-if="urlLink.type == '.txt'")
                label.control-label.text-muted.col-sm-3.text-right: small Message
                .col-sm-6
                    textarea.form-control( rows="4",cols="50",name='message', ng-model='urlLink.message', required='')

            br
            .form-group.row(ng-if="urlLink.type == '.weblink'")
                label.control-label.text-muted.col-sm-3.text-right: small Zoom level
                .col-sm-6
                    input.form-control(type='number',step="0.01" ,name='style',placeholder='e.g. 0.75(75%), 1.25(125%) or leave blank for no-zoom',
                    ng-model='urlLink.zoom')

            br
            .form-group.row(ng-if="urlLink.type == '.weblink'")
                label.control-label.text-muted.col-sm-3.text-right: small Send Key strokes (optional)
                .col-sm-5
                    input.form-control(type="text",name="keystrokes",placeholder="e.g. tab,shift+h,e,l,l,o,shift+!,enter",ng-model="urlLink.keystrokes")
                    small for key definitions refer http://robotjs.io/docs/syntax#key
                label.control-label.text-muted.col-sm-2.text-right: small after a delay of
                .col-sm-2
                    input.form-control(type="text", name="keydelay", placeholder="10 secs", ng-model="urlLink.keydelay")
            br
            .form-group.row
                .col-sm-3.col-sm-offset-3
                    button.btn.btn-success(ng-disabled='!(linkform.$dirty && linkform.$valid)',ng-click="saveNewChanges()") Update


        div(ng-if='(fileType=="gcal") && calendar.list.length')
            h4: strong  Profile
            .media
                .pull-right
                    img.media-object(ng-src="{{calendar.profile.picture}}", style="width:84px"  )
                .media-body.pull-left
                    h4.media-heading
                        |   &nbspEmail:&nbsp&nbsp
                        span(ng-bind="calendar.profile.email")
                        br
            h3 Choose a Calendar for subscribing to Events
            br
            ul.list-group
                li.list-group-item(ng-repeat = "item in calendar.list")
                    .row
                        .col-sm-8
                            h4.media-heading: strong {{item.summary}}
                        .col-sm-4
                            div.radio
                                input(type="radio", name="email", ng-click='selectedCalendar(item.id)', ng-checked="calendar.selected == item.summary")


    //.panel-footer
    //    .row
    //        .col-sm-10
    //            categories(selected-labels="selectedLabels")
    //        .col-sm-2.pull-right
    //            button.btn.btn-success.pull-right(ng-click='save()') DONE



