
<div autoscroll="false" class="row height100 overflow-hidden">
  <div ng-hide="selected.rightWindowNeeded" class="col-sm-3 height100 overflow-auto">
    <div ui-view="left" autoscroll="false"></div>
  </div>
  <div autoscroll="false" ng-class="{'col-sm-9':!selected.rightWindowNeeded,'col-sm-7':selected.rightWindowNeeded}" class="height100 overflow-auto">
    <div ui-view="details" autoscroll="false"></div>
    <div ui-view="list" autoscroll="false"></div>
  </div>
  <div ng-show="selected.rightWindowNeeded" class="col-sm-5 height100 overflow-auto">
    <div ui-view="right" autoscroll="false"></div>
  </div>
</div>