.row.height100.overflow-hidden(autoscroll="false")
    .col-sm-3.height100.overflow-auto(ng-hide="selected.rightWindowNeeded")
        div(ui-view="left", autoscroll="false")
    .height100.overflow-auto(autoscroll="false",ng-class="{'col-sm-9':!selected.rightWindowNeeded,'col-sm-7':selected.rightWindowNeeded}")
        div(ui-view="details", autoscroll="false")
        div(ui-view="list", autoscroll="false")
    .col-sm-5.height100.overflow-auto(ng-show="selected.rightWindowNeeded")
        div(ui-view="right", autoscroll="false")
