
<div class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title">Rename or delete files, tap Done when completed<a ng-click="fn.edit()" class="pull-right"><em class="text-danger">{{fn.editMode?'Done':'Edit'}}</em></a></div>
  </div>
  <ul class="list-group">
    <li ng-repeat="name in names" class="list-group-item">
      <form name="editform" class="row">
        <div ng-class="editform.$dirty?'':fieldStatus" class="form-group col-xs-10">
          <div class="input-group col-xs-12">
            <input type="text" ng-model="name.name" class="form-control"/><span ng-bind="name.ext" ng-hide="editform.$dirty" class="input-group-addon"></span><span ng-click="fn.rename($index)" ng-show="editform.$dirty" class="input-group-btn"><a type="button" class="btn btn-success">SAVE</a></span>
          </div>
        </div>
        <div class="col-xs-2">
          <button ng-click="fn.delete($index)" class="btn btn-danger pull-right"><i class="fa fa-times fa-lg"></i></button>
        </div>
      </form>
    </li>
  </ul>
</div>