
<div class="panel panel-default">
  <div class="panel-heading" translate="translate"> Player reporting status</div>
  <div class="panel-body">
    <div class="row statcards">
      <div class="col-sm-4 col-lg-2 m-b" ng-repeat="bucket in playersStat  track by $index ">
        <div class="statcard" ng-class="'statcard-'+BUCKET_CLASS[$index]"><a class="btn btn-block" ng-href="{{'#/dashboard/players?bucket='+$index}}">
            <div class="p-a text-white"><span class="statcard-desc">{{BUCKET_TITLE[$index]}}</span>
              <h2 class="statcard-number">{{bucket}}</h2>
            </div></a></div>
      </div>
    </div>
  </div>
  <div class="panel-heading" translate="translate">  Players expected to report now</div>
  <div class="panel-body" style="max-height:200px;overflow-y:scroll;">
    <h4 class="text-center" ng-repeat="player in playersExpectedToReport | orderBy:'lastReported':true track by $index">{{player.name }}:&nbsp;<i class="text-muted">{{player.lastReported | timeAgo}}</i></h4>
    <h6 class="text-center text-muted" ng-show="playersExpectedToReport.length == 0" translate="translate">There are no players went offline just now</h6>
  </div>
  <div class="panel-heading" translate="translate">  Players expected to report now</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 m-b-md" ng-repeat-start="playerTable in COUNT_FIELDS_TO_SHOW">
        <div class="list-group">
          <h4 class="list-group-item list-group-item-info">{{playerTable.name}}</h4><a class="list-group-item text-primary" ng-repeat="row in playersStatFieldWise[playerTable.field+'Count'] | limitTo:(displayLimit || 10) track by $index" ng-href="{{'#/dashboard/players?'+playerTable.field+'='+row.name}}">{{row.name}}<span class="pull-right text-muted">{{row.count}}</span></a>
        </div><a class="btn btn-primary-outline p-x" ng-show="playersStatFieldWise[playerTable.field+'Count'].length &gt; 10" ng-click="displayLimit==1000?displayLimit=10:displayLimit=1000;">{{displayLimit==1000?"Show less":"All players"}}</a>
      </div>
      <div class="clearfix" ng-if="$index % 2 == 1"></div>
      <div ng-repeat-end></div>
    </div>
  </div>
</div>