.panel.panel-info
    .panel-heading
        h3.panel-title Groups&nbsp&nbsp
        button.btn.btn-info.btn-sm(" ng-click="globalSync()")Deploy all
            a.pull-right(ng-click='fn.edit()'): em.text-danger {{fn.editMode?'Done':'Edit'}}
    .panel-body
        ul.nav.nav-pills.nav-stacked
            li(ng-repeat="item in group.groups",ng-class="fn.getClass(item)")
                a(ng-click="fn.selected(item)")
                    .row
                        .col-sm-10
                            small(ng-hide="item.renameEnable && fn.editMode") {{ item.name }}
                            .form-group(ng-show="item.renameEnable && fn.editMode")
                                input.form-control(type='text', ng-model='item.newname',ng-blur="fn.rename($index)")
                        .col-sm-2
                            button.close(ng-click='$event.stopPropagation();fn.delete($index);',ng-if="fn.editMode")
                                i.fa.fa-times-circle(ng-class="{'text-danger': fn.editMode}")

    form(name="addform", ng-submit='fn.add()')
        .input-group.col-xs-12
            input.form-control(type='text', ng-model='newGroup.name',required)
            span.input-group-btn
                button.btn.btn-info(type="submit")
                    i.fa.fa-plus

