.panel.panel-info
    .panel-heading
        h3.panel-title Groups
            a.pull-right(ng-click='fn.edit()'): em.text-danger {{fn.editMode?'Done':'Edit'}}
    .panel-body
        ul.nav.nav-pills.nav-stacked
            li(ng-repeat="group in groups",ng-class="fn.getClass(group)")
                a(ng-click="fn.selected(group)")
                    .row
                        .col-sm-10
                            small(ng-hide="group.renameEnable && fn.editMode") {{ group.name }}
                            .form-group(ng-show="group.renameEnable && fn.editMode")
                                input.form-control(type='text', ng-model='group.newname',ng-blur="fn.rename($index)")
                        .col-sm-2
                            button.close(ng-click='$event.stopPropagation();fn.delete($index);',ng-if="fn.editMode || fn.getClass(group)")
                                i.fa.fa-times-circle(ng-class="{'text-danger': fn.editMode}")

    form(name="addform", ng-submit='fn.add()')
        .input-group.col-xs-12
            input.form-control(type='text', ng-model='newGroup.name',required)
            span.input-group-btn
                button.btn.btn-info(type="submit")
                    i.fa.fa-plus

