
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="panel-title">Groups
          <div class="btn-toolbar btn-group-sm pull-right">
            <button class="btn btn-info" ng-click="globalSync()">Deploy all</button><a class="btn btn-default" ng-click="fn.edit()"><em class="text-danger">{{fn.editMode?'Done':'Edit'}}</em></a>
          </div>
        </h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="item in group.groups" ng-class="fn.getClass(item)"><a ng-click="fn.selected(item)">
          <div class="row">
            <div class="col-sm-10"><small ng-hide="item.renameEnable &amp;&amp; fn.editMode">{{ item.name }}</small>
              <div class="form-group" ng-show="item.renameEnable &amp;&amp; fn.editMode">
                <input class="form-control" type="text" ng-model="item.newname" ng-blur="fn.rename($index)"/>
              </div>
            </div>
            <div class="col-sm-2">
              <button class="close" ng-click="$event.stopPropagation();fn.delete($index);" ng-if="fn.editMode"><i class="fa fa-times-circle" ng-class="{'text-danger': fn.editMode}"></i></button>
            </div>
          </div></a></li>
    </ul>
  </div>
  <form name="addform" ng-submit="fn.add()">
    <div class="input-group col-xs-12">
      <input class="form-control" type="text" ng-model="newGroup.name" required="required"/><span class="input-group-btn">
        <button class="btn btn-info" type="submit"><i class="fa fa-plus"></i></button></span>
    </div>
  </form>
</div>