.panel.panel-info
    .panel-heading
        .row
            .col-sm-7
                h3.panel-title {{group.name}}
            .col-sm-3
                a.btn.btn-link.btn-sm.pull-right(ng-click='displaySet()'): em.text-danger Set Display Mode
            .col-sm-2
                a.btn.btn-success.btn-sm.pull-right(ng-disabled="!group.playlists.length",ng-click='deploy()') Deploy to {{group.name}}

    ul.list-group
        li.list-group-item
            .form-group
                form.row( name="group-default-playlist")
                    label.control-label.col-sm-4 Main Playlist for the group
                        .input-group.col-sm-8
                    .col-sm-5
                        select.form-control(ng-model="group.playlists[0].name",
                                                ng-options="pl for pl in playlistNames track by pl",
                                                ng-change="updateGroup()")
                                                    option(value="") -- None selected --
        li.list-group-item(ng-show="group.playlists[0].name.length")
            .row
                h5.col-sm-12 You can select additional Playlists for Scheduling/Advt purposes
                    a.btn.btn-link(ng-click="collapsed = !collapsed;")
                        i.fa.fa-lg(ng-class="{'fa-chevron-circle-right':collapsed,'fa-chevron-circle-down':!collapsed}")
            .form-group(ng-repeat='playlist in group.playlists' ng-if="$index > 0",ng-hide="collapsed")
                form.row( name="group-playlists")
                    .col-sm-5
                        select.form-control(ng-model="playlist.name",
                                                ng-options="pl for pl in playlistNames track by pl",
                                                ng-change="updateGroup()")
                            option(value="") -- None selected --
                    .col-sm-6
                        a.btn.btn-link(ng-click="scheduleCalendar(playlist)")
                            i.fa.fa-calendar.fa-lg.text-info
                        small(ng-if='!playlist.settings.startdate && !playlist.settings.starttime')
                            | Click the icon to Schedule
                        small(ng-if='playlist.settings.startdate')
                            | {{playlist.settings.startdate | date:'MMM d'}} -
                            | {{playlist.settings.enddate | date:'MMM d'}} &nbsp&nbsp
                        small(ng-if='playlist.settings.starttime')
                            | {{playlist.settings.starttime }} -
                            | {{playlist.settings.endtime }}
                    .col-sm-1(ng-show="playlist.name.length")
                        a.btn.btn-link(ng-click='delete($index)')
                            i.fa.fa-times.text-danger
        //li.list-group-item
            form
                .form-group
                    label.control-label.col-sm-4.text-muted Add a Playlist to the group
                    .input-group.col-sm-8
                        select.form-control(ng-model="newPlaylistName", ng-options="pl.name as pl.name for pl in playlists")
                            option(value="") -- choose playlist --
                        .input-group-btn
                            button.btn.btn-info(ng-click="add()")
                                i.fa.fa-plus

    //.panel-footer
        button.btn.btn-primary.btn-block(ng-click='deploy()')
            | {{group.playlists.length?"DEPLOY":"Nothing to deploy"}}



