.panel.panel-info(ng-show="group.selectedGroup")
    .panel-heading
        .row
            .col-sm-5
                h3.panel-title {{group.selectedGroup.name}}
            .col-sm-2
                a.btn.btn-link.btn-sm.pull-right(ng-click='groupTicker()'): em.text-danger Set Group Ticker
            .col-sm-2
                a.btn.btn-link.btn-sm.pull-right(ng-click='displaySet()'): em.text-danger Set Display Mode
            .col-sm-2
                a.btn.btn-success.btn-sm.pull-right(ng-disabled="!group.selectedGroup.playlists.length",ng-click='deploy()') Deploy to {{group.selectedGroup.name}}
            .col-sm-1
                a.pull-right.close(ng-click="closeWindow()") &times
    .panel-body
        form(role='form',name='deployform',as-sortable="sortable.options",ng-model="sortable.playlistArray")
            .row.form-group
                label.control-label.col-sm-4 Default Playlist for the group
                .col-sm-5
                    select.form-control(ng-model="group.selectedGroup.playlists[0].name",
                                            ng-options="pl for pl in playlist.playlistNames track by pl",
                                            ng-change="updateGroup()")
                                                option(value="") --
            .row.form-group(ng-show="group.selectedGroup.playlists[0].name.length")
                h5.col-sm-12 You can select additional Playlists for Scheduling/Advt purposes
                    //a.btn.btn-link(ng-click="collapsed = !collapsed;")
                        i.fa.fa-lg(ng-class="{'fa-chevron-circle-right':collapsed,'fa-chevron-circle-down':!collapsed}")
                    a.btn.btn-info.btn-xs(ng-click="add()")
                        i.fa.fa-lg.fa-plus add
                    span.text-info(ng-show="showMaxErr") &nbsp&nbsp {{'Maximum allowed Playlist Schedules (10)'}}

            .row.form-group(ng-repeat='pl in group.selectedGroup.playlists' ng-if="$index > 0",as-sortable-item)
                .col-sm-1.text-right(as-sortable-item-handle)
                    h6   {{$index+'.'}}
                .col-sm-4
                    select.form-control(ng-model="pl.name",style="background:#f8f8f8;",
                                            ng-options="plitems for plitems in playlist.playlistNames track by plitems",
                                            ng-change="updateGroup()")
                        option(value="") --
                .col-sm-6
                    a.btn.btn-link(ng-show="pl.name",ng-click="scheduleCalendar(pl)")
                        i.fa.fa-calendar.fa-lg.text-info
                    small(ng-if='pl.name && !(pl.settings.durationEnable || pl.settings.timeEnable || pl.settings.weekday || pl.settings.monthday)')
                        | Click the icon to Schedule
                    small(ng-if='pl.settings.durationEnable')
                        | {{pl.settings.startdate | date:'MMM d'}} -
                        | {{pl.settings.enddate | date:'MMM d'}} &nbsp&nbsp
                    small(ng-if='pl.settings.timeEnable')
                        | {{pl.settings.starttime | date: 'hh:mm a'}} -
                        | {{pl.settings.endtime | date: 'hh:mm a'}}
                    small(ng-if='pl.settings.weekday')
                        | on {{weeklist[pl.settings.weekday]}} &nbsp;&nbsp;
                    small(ng-if='pl.settings.monthday')
                        | on date: {{dayslist[pl.settings.monthday]}} &nbsp&nbsp
                .col-sm-1(ng-show="pl.name.length")
                    a.btn.btn-link(ng-click='delete($index)')
                        i.fa.fa-times.text-danger
        //li.list-group-item
            form
                .form-group
                    label.control-label.col-sm-4.text-muted Add a Playlist to the group
                    .input-group.col-sm-8
                        select.form-control(ng-model="newPlaylistName", ng-options="pl.name as pl.name for pl in playlists")
                            option(value="") -- choose playlist --
                        .input-group-btn
                            button.btn.btn-info(ng-click="add()")
                                i.fa.fa-plus

    //.panel-footer
        button.btn.btn-primary.btn-block(ng-click='deploy()')
            | {{group.playlists.length?"DEPLOY":"Nothing to deploy"}}



