
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="panel-title">Groups
          <div class="btn-toolbar btn-group-sm pull-right">
            <button ng-click="globalSync()" class="btn btn-info">Deploy all</button><a ng-click="fn.edit()" class="btn btn-default"><em class="text-danger">{{fn.editMode?'Done':'Edit'}}</em></a>
          </div>
        </h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="item in group.groups" ng-class="fn.getClass(item)"><a ng-click="fn.selected(item)">
          <div class="row">
            <div class="col-sm-10"><small ng-hide="item.renameEnable &amp;&amp; fn.editMode">{{ item.name }}</small>
              <div ng-show="item.renameEnable &amp;&amp; fn.editMode" class="form-group">
                <input type="text" ng-model="item.newname" ng-blur="fn.rename($index)" class="form-control"/>
              </div>
            </div>
            <div class="col-sm-2">
              <button ng-click="$event.stopPropagation();fn.delete($index);" ng-if="fn.editMode" class="close"><i ng-class="{'text-danger': fn.editMode}" class="fa fa-times-circle"></i></button>
            </div>
          </div></a></li>
    </ul>
  </div>
  <form name="addform" ng-submit="fn.add()">
    <div class="input-group col-xs-12">
      <input type="text" ng-model="newGroup.name" required="required" class="form-control"/><span class="input-group-btn">
        <button type="submit" class="btn btn-info"><i class="fa fa-plus"></i></button></span>
    </div>
  </form>
</div>