.panel.panel-info
    .panel-heading
        h3.panel-title Labels
            a.pull-right(ng-click='fn.edit()'): em.text-danger {{fn.editMode?'Done':'Edit'}}

    .panel-body
        ul.nav.nav-pills.nav-stacked
            li(ng-repeat="label in labels", ng-class="fn.getClass(label.name)")
                a(ng-click="fn.selected(label.name)")
                    small {{ label.name }}
                    span.badge.pull-right(ng-if="!fn.editMode && !fn.getClass(label.name)") {{labelsCount[label.name] || '0'}}
                    button.close(ng-click='fn.delete($index); $event.stopPropagation()',ng-if="fn.editMode || fn.getClass(label.name)")
                        i.fa.fa-times-circle.fa-lg(ng-class="{'text-danger': fn.editMode}")


    form(name="addform", ng-submit='fn.add()')
        .input-group.col-xs-12
            input.form-control(type='text', ng-model='newLabel.name',required)
            span.input-group-btn
                button.btn.btn-info(type="submit")
                    i.fa.fa-plus

                    