.panel.panel-info
    .panel-heading
        .row
            .col-xs-10
                h4 Available Licenses in the server
            .col-xs-2
                button.btn.btn-success.pull-right
                    nodeims-file-upload(post-path='api/licensefiles',
                    onstart='upload.onstart()',
                    ondone='upload.ondone(status,msg)',
                    onerror='upload.onerror(status,msg)')
                    strong(style="color:white;") Upload


    small.alert.alert-danger(ng-show='statusMsg') {{statusMsg}}
    ul.list-group
        h5.text-danger(ng-show='savedFiles.length == 0') There are no licenses uploaded to this server

        li.list-group-item(ng-repeat='file in savedFiles |  filter: searchLicense')
            p {{file}}
                button.btn.btn-link.btn-sm.pull-right(ng-click='deleteEntry(file)')
                    i.fa.fa-close.text-danger