nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                i.fa.fa-bars
            a.navbar-brand(href='http://pisignage.com', target="_self")
                img(src="app/img/pisignage-logo.png",height="32px")
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav(style="margin-left:20px;")
                li(ng-class="getClass('home.players')")
                    a(ui-sref="home.players",ui-sref-opts="{reload: true}") Players
                li(ng-class="getClass('home.assets.assets')")
                    a(ui-sref="home.assets.assets",ui-sref-opts="{reload: true}") Assets
                li(ng-class="getClass('home.assets.playlists')")
                    a(ui-sref="home.assets.playlists",ui-sref-opts="{reload: true}") Playlists
            ul.nav.navbar-nav.navbar-right
                li
                    form.navbar-form
                        input.form-control(type="text",placeholder="Search",ng-model="search.$")
                li.dropdown(dropdown,ng-show="getClass('home.assets')")
                    button.btn.btn-danger.dropdown-toggle.navbar-btn(dropdown-toggle)
                        i.fa.fa-plus &nbsp;Create Asset
                    ul.dropdown-menu(role="menu")
                        li
                            nodeims-file-upload(onstart='upload.functions.onstart()',
                                                    onprogress='upload.functions.onprogress(percentDone)',
                                                    onerror='upload.functions.onerror(files, type, msg)',
                                                    ondone='upload.functions.ondone(files, data)')
                                | Upload Files
                        li
                            a.btn.btn-link.btn-block(ng-click="upload.functions.link()")
                                | Add a Link
                        li
                            a.btn.btn-link.btn-block(ng-click="upload.functions.configureGCalendar()")
                                | Add Calendar



.container.height100.overflow-hidden(ui-view="main",autoscroll="false")
    //.row.height100.overflow-hidden(autoscroll="false")
        .col-sm-3.height100.overflow-auto
            div(ui-view="left1", autoscroll="false")
            div(ui-view="left2", autoscroll="false")
        .col-sm-9.height100.overflow-auto(autoscroll="false")
            div(ui-view="main1", autoscroll="false")
            div(ui-view="main2", autoscroll="false")
            div.height100.overflow-hidden(ui-view="asset", autoscroll="false")
