nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only(translate="translate") Toggle navigation
                i.fa.fa-bars
            a.navbar-brand(href='http://pisignage.com', target="_self")
                img(src="app/img/pisignage-logo.png",height="32px")

        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav(style="margin-left:20px;")
                li(ng-class="getClass('home.dashboard')")
                    a(ui-sref="home.dashboard",ui-sref-opts="{reload:true}",translate="translate") Dashboard
                li(ng-class="getClass('home.assets')")
                    a(ui-sref="home.assets.main",ui-sref-opts="{reload: true}",translate="translate") Assets
                li(ng-class="getClass('home.players')")
                    a(ui-sref="home.players.players",ui-sref-opts="{reload: true}",translate="translate") Players
                li(ng-class="getClass('home.license')")
                    a(ui-sref="home.settings",ui-sref-opts="{reload: true}",translate="translate") Settings
            button.btn.btn-link.pull-right(ng-click="launchCastApp()", ng-show="castStatus.devicesAvailable")
                img.img-thumbanail(ng-show="castStatus.deviceState == '0'",src="/app/img/ic_cast_black_24dp.png",
                title="Chromecast devices available, add them to piSignage")
                img.img-thumbanail(ng-show="castStatus.deviceState != '0'",src="/app/img/ic_cast_connected_black_24dp.png",
                title="Chromecast device connected")
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="https://twitter.com/pisignage", target="_blank")
                        small.text-info follow us on&nbsp;
                            i.fa.fa-twitter-square.text-info
                            | &nbsp;for latest updates and tips
                        br
                        small.text-muted version hash: {{serverConfig.version}}, {{serverConfig.date}}
            button.btn.navbar-btn.navbar-right.btn-xs.btn-default(ng-click="languageSelect()") {{userSetting.language | uppercase}}



.container.height100.overflow-hidden(ui-view="main",autoscroll="false")
    //.row.height100.overflow-hidden(autoscroll="false")
        .col-sm-3.height100.overflow-auto
            div(ui-view="left1", autoscroll="false")
            div(ui-view="left2", autoscroll="false")
        .col-sm-9.height100.overflow-auto(autoscroll="false")
            div(ui-view="main1", autoscroll="false")
            div(ui-view="main2", autoscroll="false")
            div.height100.overflow-hidden(ui-view="asset", autoscroll="false")
