.panel.panel-info
    .panel-heading
        .row
            .col-sm-4
                h3.panel-title Reported Players
                    .btn-group.btn-group-sm(ng-init="alphabetical=false")
                        button.fa.fa-clock-o.fa-lg.text-muted.btn.btn-info(ng-click="alphabetical=false")
                        button.fa.fa-sort-alpha-asc.fa-lg.text-muted.btn.btn-info(ng-click="alphabetical=true")
            .col-sm-2
                span.btn-group(ng-attr-title="Click this button to select, edit and add labels")
                    button.btn.btn-info.btn-sm(ng-click="loadCategory()")
                        i.fa.fa-tags &nbsp;
                        span {{label.selectedPlayerLabel.trunc(10) || "Labels"}}
                    button.btn.btn-info.btn-sm(ng-show="label.selectedPlayerLabel",ng-click="clearCategory()")
                        i.fa.fa-close

    ul.list-group

        li.list-group-item(ng-show="player.players.length!=0",ng-repeat='item in player.players | filter:labelFilter | filter:search | orderBy:(alphabetical? "name":"lastReported"):(alphabetical?false:true)')
            .row
                .col-sm-4
                    //h6.text-primary.truncate  {{item.localName || ("Player "+item.cpuSerialNumber.slice(12))}}
                    a(href="#")
                        h6.truncate(ng-show="!nameEdit",ng-class="item.licensed ? 'text-primary': 'text-warning'")
                            span(ng-click="nameEdit=true;")
                                | {{item.name || item.localName || ("Player "+item.cpuSerialNumber.slice(12))}}
                            button.btn.btn-link.btn-xs.pull-right(ng-click='shellCommand(item)')
                                i.fa.fa-lg.fa-terminal.fa-border.bg-info
                    .input-group(ng-show="nameEdit")
                        input.input-sm.form-control(type="text",ng-model="item.name")
                        .input-group-btn
                            button.btn.btn-sm.btn-success(ng-click="saveName(item);nameEdit=false;"): i.fa.fa.fa-check

                .col-sm-3
                    .row
                        .col-sm-6(style="padding-right:3px;", popover-placement = "right",
                                popover = "{{item.ethMac+'\n'+item.wifiMac}}")
                            small.text-primary.truncate  {{item.myIpAddress || "IP:NA"}}
                        .col-sm-6(style="padding:3px;")
                            select.form-control.select-xs(ng-model="item.TZ", ng-change="changeTZ(item)",
                                                                            ng-options="tz for tz in tzNames")
                                option(value="", selected)  --No TZ--
                .col-sm-3
                    i.fa.fa-circle.fa-lg(ng-class="item.statusClass",
                        title="{{item.isConnected?(item.playlistOn?'online & playing, tv-on:'+item.tvStatus:'online & not playing, tv-on:'+item.tvStatus):'offline'}}")
                    a(ng-href="#",ng-click="gotoPlaylist(item.currentPlaylist)") &nbsp;{{item.currentPlaylist}}
                //.col-sm-2
                    select.form-control.select-xs(ng-model="item.group.name",ng-change="assignGroup(item)",
                                                                        ng-options="gr for gr in group.groupNames")
                .col-sm-2
                    a(ng-href='/#/players/players?group={{item.group._id}}')
                        small.text-primary  {{ item.group.name.length>12?item.group.name.slice(0,10)+'..':item.group.name }}
                    button.btn.btn-default.btn-xs.pull-right(ng-click="loadPlayerDetails(item)")
                        i.fa.fa-cog.fa-lg.text-warning

            .row
                .col-sm-4
                    h6.text-primary: small {{item.cpuSerialNumber}}
                        small.text-info.pl-5(title="player on since") {{item.uptimeFormatted }}
                        small.text-info.pl-5(title="cpu temperature") {{item.piTemperature}}
                        small.text-info.pl-5(title="disk space available") {{item.diskSpaceAvailable}}
                .col-sm-3
                    h6.text-primary.truncate: small last seen:&nbsp;{{item.lastReported?(item.lastReported | timeAgo):"never"}}
                .col-sm-3
                    h6(ng-if="!item.isConnected || !item.syncInProgress").text-primary.truncate: small last sync:&nbsp;{{item.lastUpload?(item.lastUpload | timeAgo):"never"}}
                    h6(ng-if="item.isConnected && item.syncInProgress").text-primary
                        i.fa.fa-spinner.fa-spin
                        small.truncate &nbsp;{{item.wgetBytes }} &nbsp;{{item.wgetSpeed }}B/sec

                .col-sm-2(ng-if='item.version')
                    h6.text-primary.truncate: small ver:&nbsp;{{item.version}}/{{item.platform_version}}&nbsp;
                        button.btn.btn-warning.btn-xs(ng-if="item.version != player.currentVersion.version",ng-click="swUpdate(item)")
                            i.fa.fa-arrow-circle-up

 li.list-group-item(ng-show="player.players.length == 0",class="list-group-item") There are no Players


