
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-10">
        <h5 class="panel-title">
          {{asset.showAssets.assets.length}}&nbsp;items in&nbsp;
          {{asset.showAssets.playlist.name}}&nbsp;<span class="text-muted">&nbsp;(Drag to Add/Remove)</span>
        </h5>
      </div>
      <div class="col-sm-2"><a ng-click="done()" class="btn btn-primary pull-right">Done</a></div>
    </div>
  </div>
  <ul as-sortable="sortable.options" ng-model="asset.showAssets.assets" style="min-height:50px;" class="list-group">
    <li ng-repeat="file in asset.showAssets.assets" as-sortable-item="as-sortable-item" style="margin:0px;" ng-class="{&quot;list-group-item-danger&quot;:file.deleted}" class="list-group-item">
      <div as-sortable-item-handle="as-sortable-item-handle" class="row">
        <div class="col-sm-2"><a ng-click="fn.showDetails(file.fileDetails.name)" class="pull-right"><img ng-if="file.fileDetails.thumbnail" ng-src="{{file.fileDetails.thumbnail}}" class="media-object img-rounded"/>
            <div ng-if="!file.fileDetails.thumbnail" class="letter-box media-object img-rounded"><span ng-if="file.fileDetails.type == &quot;audio&quot;"><i class="fa fa-music"></i></span><span ng-if="file.fileDetails.type != &quot;audio&quot;">{{file.fileDetails.type.slice(0,1) || 'N'}}</span></div></a></div>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-8">
              <h6>{{file.fileDetails.name }}</h6>
            </div>
            <div class="col-sm-3">
              <!--h6(ng-if="(!file.playlistDetails || file.playlistDetails.isVideo) && file.fileDetails.duration > 0")strong {{file.fileDetails.duration}} seconds
              -->
              <!--input.form-control.input-sm(ng-if="file.playlistDetails && !file.playlistDetails.isVideo",-->
              <input type="number" ng-model="file.playlistDetails.duration" min="5" ng-model-options="{ updateOn: 'blur' }" ng-change="saveData()" class="form-control input-sm"/>
            </div>
            <div class="col-sm-1">
              <button ng-click="removeAsset($index)" class="btn btn-xs btn-warning">X</button>
            </div>
          </div>
          <div ng-show="asset.showAssets.playlist.layout &amp;&amp; layoutOtherZones[asset.showAssets.playlist.layout].length" class="row">
            <div class="col-sm-3">
              <label ng-class="{'label-danger':file.playlistDetails.fullscreen,'label-default':!file.playlistDetails.fullscreen}" class="label">
                <input type="checkbox" name="fullscreen" ng-model="file.playlistDetails.fullscreen"/><span>&nbsp;show fullscreen</span>
              </label>
            </div>
            <div class="col-sm-9"><small translate="translate" class="text-primary">Add other zone assets<span ng-repeat="zone in layoutOtherZones[asset.showAssets.playlist.layout]">
                  <div class="btn-group">
                    <button ng-click="linkFile(file.playlistDetails,zone)" class="btn btn-xs btn-info"><small>{{zone}}: {{file.playlistDetails[zone]}}&nbsp;</small><i ng-if="!file.playlistDetails[zone]" class="fa fa-paperclip"></i></button>
                    <button ng-if="file.playlistDetails[zone]" ng-click="removeLinkFile(file,zone)" class="btn btn-xs btn-warning">X</button>
                  </div></span></small>
              <!--span(ng-show="asset.showAssets.playlist.layout != '2bp' && asset.showAssets.playlist.layout != '2bp270'")-->
              <!--    button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'side')")-->
              <!--        span Side Zone:&nbsp; {{file.playlistDetails.side || "Select a file"}}-->
              <!--    button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.side",-->
              <!--    ng-click="removeLinkFile(file,'side')") X-->
              <!--span(ng-show="asset.showAssets.playlist.layout != '2a' && asset.showAssets.playlist.layout != '2b' && asset.showAssets.playlist.layout != '2c' && asset.showAssets.playlist.layout != '2d'")-->
              <!--    button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'bottom')")-->
              <!--        span Bottom Zone: {{file.playlistDetails.bottom || "Select a file"}}-->
              <!--    button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.bottom",-->
              <!--                        ng-click="removeLinkFile(file,'bottom')") X-->
              
            </div>
          </div>
        </div>
      </div>
    </li>
    <li ng-if="!asset.showAssets.assets.length" class="list-group-item">
      <h4 class="text-danger">Nothing to show, Please Drag Assets to this box</h4>
    </li>
  </ul>
</div>