
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-10">
        <h5 class="panel-title" translate="translate">
          {{asset.showAssets.assets.length}}&nbsp;items in&nbsp;{{asset.showAssets.playlist.name}}&nbsp;<span class="text-muted" translate="translate">&nbsp;(Drag to Add/Remove)</span></h5>
      </div>
      <div class="col-sm-2"><a class="btn btn-primary pull-right" ng-click="done()" translate="translate">Done</a></div>
    </div>
  </div>
  <ul class="list-group" as-sortable="sortable.options" ng-model="asset.showAssets.assets" style="min-height:50px;">
    <li class="list-group-item" ng-repeat="file in asset.showAssets.assets" as-sortable-item style="margin:0px;" ng-class="{&quot;list-group-item-danger&quot;:file.deleted}">
      <div class="row" as-sortable-item-handle>
        <div class="col-sm-2"><a class="pull-right" ng-click="fn.showDetails(file.fileDetails.name)"><img class="media-object img-rounded" ng-if="file.fileDetails.thumbnail" ng-src="{{file.fileDetails.thumbnail}}">
            <div class="letter-box media-object img-rounded" ng-if="!file.fileDetails.thumbnail"><span ng-if="file.fileDetails.type == &quot;audio&quot;"><i class="fa fa-music"></i></span><span ng-if="file.fileDetails.type != &quot;audio&quot;">{{file.fileDetails.type.slice(0,1) || 'N'}}</span></div></a></div>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-8">
              <h6>{{file.fileDetails.name }}</h6>
            </div>
            <div class="col-sm-3">
              <!--h6(ng-if="(!file.playlistDetails || file.playlistDetails.isVideo) && file.fileDetails.duration > 0")strong {{file.fileDetails.duration}} seconds
              -->
              <!--input.form-control.input-sm(ng-if="file.playlistDetails && !file.playlistDetails.isVideo",-->
              <input class="form-control input-sm" type="number" ng-model="file.playlistDetails.duration" min="5" ng-model-options="{ updateOn: 'blur' }" ng-change="saveData()">
            </div>
            <div class="col-sm-1">
              <button class="btn btn-xs btn-warning" ng-click="removeAsset($index)">X</button>
            </div>
          </div>
          <div class="row" ng-show="asset.showAssets.playlist.layout &amp;&amp; layoutOtherZones[asset.showAssets.playlist.layout].length">
            <div class="col-sm-3">
              <label class="label" ng-class="{'label-danger':file.playlistDetails.fullscreen,'label-default':!file.playlistDetails.fullscreen}">
                <input type="checkbox" name="fullscreen" ng-model="file.playlistDetails.fullscreen"><span translate="translate">&nbsp;show fullscreen</span>
              </label>
            </div>
            <div class="col-sm-9"><small class="text-primary" translate="translate">Add other zone assets<span ng-repeat="zone in layoutOtherZones[asset.showAssets.playlist.layout]">
                  <div class="btn-group" ng-if="!customZonesPresent || customZonesPresent[zone]">
                    <button class="btn btn-xs btn-info" ng-click="linkFile(file.playlistDetails,zone)"><small>{{zone}}: {{file.playlistDetails[zone]}}&nbsp;</small><i class="fa fa-paperclip" ng-if="!file.playlistDetails[zone]"></i></button>
                    <button class="btn btn-xs btn-warning" ng-if="file.playlistDetails[zone]" ng-click="removeLinkFile(file,zone)">X</button>
                  </div></span></small></div>
          </div>
          <div class="row">
            <div class="col-sm-3" ng-show="file.fileDetails.muteButtonEnable">
              <label class="btn btn-link text-muted" title="mute the audio">
                <input type="checkbox" ng-model="file.playlistDetails.option.main" ng-model-options="{ debounce: 500 }"><span class="pl-5" translate="translate">mute audio</span>
              </label>
            </div>
            <div class="col-sm-3" ng-show="file.fileDetails.type == &quot;audio&quot; || file.fileDetails.type == &quot;radio&quot;">
              <label class="btn btn-link text-muted" title="play in background">
                <input type="checkbox" ng-model="file.playlistDetails.option.main" ng-model-options="{ debounce: 500 }" ng-true-value="false" ng-false-value="true" ng-checked="file.playlistDetails.option.main !== true"><span class="pl-5" translate="translate"> play in background</span>
              </label>
            </div>
            <div class="col-sm-3" ng-show="file.fileDetails.type == &quot;image&quot; || file.fileDetails.type == &quot;video&quot;">
              <label class="btn btn-link text-muted" title="add a text message over image or video">
                <input type="text" ng-model="file.playlistDetails.option.bannerText" placeholder="text message over the image/video" ng-model-options="{ debounce: 500 }">
              </label>
            </div>
            <div class="col-sm-3" ng-show="file.fileDetails.type == &quot;pdf&quot;">
              <label class="btn btn-link text-muted" title="use presentation mode">
                <input type="checkbox" ng-model="file.playlistDetails.option.main" ng-model-options="{ debounce: 500 }"><span class="pl-5" translate="translate">use presentation mode</span>
              </label>
              <input class="form-control input-sm" ng-show="file.playlistDetails.option.main" type="number" ng-model="file.playlistDetails.option.subduration" min="1" placeholder="duration for each slide" ng-model-options="{ debounce: 500 }">
            </div>
            <div class="col-sm-1 pull-right"><a class="btn btn-xs btn-link" title="{{'Duplicate this asset to add multiple times in the playlist'}}" ng-click="makeCopy(file,$index)"><i class="fa fa-copy"></i></a></div>
            <!--span(ng-show="asset.showAssets.playlist.layout != '2bp' && asset.showAssets.playlist.layout != '2bp270'")-->
            <!--        button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'side')")-->
            <!--            span Side Zone:&nbsp; {{file.playlistDetails.side || "Select a file"}}-->
            <!--        button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.side",-->
            <!--        ng-click="removeLinkFile(file,'side')") X-->
            <!--    span(ng-show="asset.showAssets.playlist.layout != '2a' && asset.showAssets.playlist.layout != '2b' && asset.showAssets.playlist.layout != '2c' && asset.showAssets.playlist.layout != '2d'")-->
            <!--        button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'bottom')")-->
            <!--            span Bottom Zone: {{file.playlistDetails.bottom || "Select a file"}}-->
            <!--        button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.bottom",-->
            <!--                            ng-click="removeLinkFile(file,'bottom')") X-->
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item" ng-if="!asset.showAssets.assets.length">
      <h4 class="text-danger" translate="translate">Nothing to show, Please Drag Assets to this box</h4>
    </li>
  </ul>
</div>