.panel.panel-info(style="margin-bottom:5px;")
    .panel-heading
        h3.panel-title Drag files to Add/Remove
            a.btn.btn-sm.btn-link.pull-right(ng-click='fn.edit()'): em(ng-class="{'text-danger':!fn.editMode,'text-success':fn.editMode}")
                        | {{fn.editMode?'Done':'Edit'}}
accordion(close-others="false", ng-if="!fn.editMode")
    accordion-group(ng-repeat="(playlist,obj) in filterPlaylistName(groupWiseAssets) ",is-open="true")
        accordion-heading
            h5(ng-click="fn.selected(playlist,obj.isOpen)") {{playlist}} &nbsp;
                span.badge.pull-right {{obj.assets.length}}
        ul.list-group(as-sortable="sortableOptions",ng-model="obj.assets")
            li.list-group-item(ng-repeat='file in obj.assets track by $index',as-sortable-item,
            ng-class='{"list-group-item-danger":file.deleted}'
            ng-click='loadAsset(file.fileDetails.name)')
                .media(as-sortable-item-handle)
                    //a(ng-href="#").pull-left
                        img.media-object.img-rounded(ng-src='{{file.fileDetails.thumbnail}}')
                    //.letter-box.media-object.pull-left.img-rounded(ng-if='!file.fileDetails.thumbnail')
                        | {{file.fileDetails.type.slice(0,1) || 'N'}}
                    .media-body
                        .row
                            .col-sm-9
                                h6 {{file.fileDetails.name }}
                            //.col-sm-4(ng-if="file.fileDetails.labels")
                                small.bg-info {{file.fileDetails.labels}}
                            //.col-sm-2
                                h6(ng-if="file.fileDetails.resolution.width")
                                    strong {{file.fileDetails.resolution.width}}x{{file.fileDetails.resolution.height}}
                            .col-sm-3.pull-right
                                h6(ng-if="(!file.playlistDetails || file.playlistDetails.isVideo) && file.fileDetails.duration > 0")
                                    strong {{file.fileDetails.duration}} seconds
                                input.form-control.input-sm(ng-if="file.playlistDetails && !file.playlistDetails.isVideo",
                                                                type='number', ng-model='file.playlistDetails.duration',min="5")
                        .row.text-danger(ng-show="obj.playlist.layout && obj.playlist.layout != '1'")
                            .col-sm-12
                                span(ng-show="obj.playlist.layout != '2ap'")
                                    button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'side')")
                                        span Side Zone:&nbsp; {{file.playlistDetails.side || "Select a file"}}
                                    button.btn.btn-xs.btn-warning(ng-if="file.side",ng-click="file.side=null") X
                                span(ng-show="obj.playlist.layout != '2a' && obj.playlist.layout != '2b'")
                                    button.btn.btn-xs.btn-info(ng-click="linkFile(file,'bottom')")
                                        span Bottom Zone: {{file.playlistDetails.bottom || "Select a file"}}
                                    button.btn.btn-xs.btn-warning(ng-if="file.bottom",ng-click="file.bottom=null") X
            strong.text-danger(ng-show="!obj.assets.length") No Files

