.panel.panel-info(ng-show="playlist.selectedPlaylist")
    .panel-heading
        .row
            .col-sm-8
                h3.panel-title {{playlist.selectedPlaylist.name}}
                    a.btn.btn-link(ng-click="collapsed = !collapsed;")
                        i.fa.fa-lg(ng-class="{'fa-carret-right':collapsed,'fa-carret-down':!collapsed}")
            .col-sm-3
                a.btn.btn-success.pull-right(ui-sref="home.playlists.playlistAddAssets({playlist:playlist.selectedPlaylist.name})",
                                                ui-sref-opts="{reload: true, notify: true}", ng-disabled="playlist.selectedPlaylist.name === 'TV_OFF'") Assign Assets
            .col-sm-1
                a.pull-right.close(ng-click="closeWindow()") &times;

    .panel-body(ng-show="!collapsed")
        form.form-horizontal
            .form-group
                label.control-label.col-sm-4.text-muted Selected Layout for the playlist&nbsp;
                .col-sm-8
                    .btn-group
                        button.btn.btn-default(ng-click="openLayout ()")
                            strong {{playlist.selectedPlaylist.layout}}
                            span :{{layouts[playlist.selectedPlaylist.layout].title}}
            .form-group
                label.control-label.col-sm-4.text-muted Configure Ticker
                .col-sm-8
                    button.btn.btn-default(ng-click="openTicker ()")
                        span {{playlist.selectedPlaylist.settings.ticker.enable?"Enabled":"Disabled"}}
                        //span {{playlist.selectedPlaylist.settings.ticker.rss.enable?" with RSS feed":""}}
                    //.input-group
                        input.form-control( name='ticker_messages',
                                                    ng-model='playlist.selectedPlaylist.settings.ticker.messages',
                                                    placeholder="Type in the Ticker message")
                        .input-group-btn
                            button.btn.btn-default.pull-right(ng-click='saveSettings()')
                                i.fa.fa-check
            .form-group
                label.control-label.col-sm-4.text-muted Configure playlist
                .col-sm-8
                    button.btn.btn-default(ng-click="openAd ()") Settings&nbsp;
                        span.badge
                            small(ng-if= "playlist.selectedPlaylist.settings.ads && playlist.selectedPlaylist.settings.ads.adPlaylist") advert
                            small(ng-if= "playlist.selectedPlaylist.settings.domination && playlist.selectedPlaylist.settings.domination.enable") domination
                            small(ng-if= "playlist.selectedPlaylist.settings.event && playlist.selectedPlaylist.settings.event.enable") event
                            small(ng-if= "playlist.selectedPlaylist.settings.keyPress && playlist.selectedPlaylist.settings.keyPress.enable") keyPress
                            small(ng-if= "playlist.selectedPlaylist.settings.audio && playlist.selectedPlaylist.settings.audio.enable") audio

                    //.checkbox
                        label
                            input(type="checkbox",ng-model="playlist.selectedPlaylist.settings.ads.adPlaylist")
                            span Insert the assets of this playlist periodically like Advertisement

            //.form-group(ng-show="playlist.selectedPlaylist.settings.ads.adPlaylist")
                label.control-label.col-sm-4.text-muted Insert Interval (seconds)
                .col-sm-8
                    input.form-control(type="number",ng-model="playlist.selectedPlaylist.settings.ads.adInterval")
            //.form-group(ng-show="playlist.selectedPlaylist.settings.ads.adPlaylist")
                .col-sm-8.col-sm-offset-4
                    .checkbox
                            label
                                input(type="checkbox",ng-model='playlist.selectedPlaylist.settings.ads.noMainPlay')
                                span Play only in side/bottom zones&nbsp;
                                p.text-muted (still a dummy Main zone file need to be selected)
            //.form-group
                .col-sm-8.col-sm-offset-4
                    button.btn.btn-success.btn-sm(ng-click='saveSettings()') Save


