
<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">
        <label class="text-primary"><span>Selected Group for the Player</span><span>&nbsp;{{player.name}}</span></label>
      </div>
      <div class="col-sm-6">
        <select class="form-control" ng-model="selectedGroup" ng-change="assignGroup()" ng-options="group for group in group.groupNames">
          <option value="">-- none --</option>
        </select>
      </div>
    </div>
  </div>
</div>