.panel.panel-info
    .panel-heading
        h3.panel-title Reported Players
    ul.list-group

        li.list-group-item(ng-repeat='item in player.players | filter:search | orderBy:"lastReported":true')
            .row
                .col-sm-4(ng-click='shellCommand(item)')
                    h6.text-primary.truncate  {{item.localName || ("Player "+item.cpuSerialNumber.slice(12))}}
                .col-sm-3
                    .row
                        .col-sm-6(style="padding-right:3px;", popover-placement = "right",
                                popover = "{{item.ethMac+'\n'+item.wifiMac}}")
                            small.text-primary.truncate  {{item.myIpAddress || "IP:NA"}}
                        .col-sm-6(style="padding:3px;")
                            select.form-control.select-xs(ng-model="item.TZ", ng-change="changeTZ(item)",
                                                                            ng-options="tz for tz in tzNames")
                                option(value="", selected)  --No TZ--
                .col-sm-3
                    i.fa.fa-circle.fa-lg(ng-class="item.statusClass",
                        title="{{item.isConnected?(item.playlistOn?'online & playing, tv-on:'+item.tvStatus:'online & not playing, tv-on:'+item.tvStatus):'offline'}}")
                    span.text-primary &nbsp;{{item.currentPlaylist}}
                //.col-sm-2
                    select.form-control.select-xs(ng-model="item.group.name",ng-change="assignGroup(item)",
                                                                        ng-options="gr for gr in group.groupNames")
                .col-sm-2
                    button.btn.btn-xs.btn-info(ng-click="loadPlayerDetails(item)")
                        | {{ item.group.name.length>12?item.group.name.slice(0,10)+'..':item.group.name }}
            .row
                .col-sm-4
                    h6.text-primary: small {{item.cpuSerialNumber}}
                .col-sm-3
                    h6.text-primary.truncate: small last seen:&nbsp;{{item.lastReported | date: "MMM dd, hh:mm a"}}
                .col-sm-3
                    h6(ng-if="!item.isConnected || !item.syncInProgress").text-primary.truncate: small last sync:&nbsp;{{item.lastUpload | date: "MMM dd, hh:mm a"}}
                    h6(ng-if="item.isConnected && item.syncInProgress").text-primary
                        i.fa.fa-spinner.fa-spin
                        small.truncate &nbsp;{{item.wgetBytes }} &nbsp;{{item.wgetSpeed }}B/sec

                .col-sm-2(ng-if='item.version')
                    h6.text-primary.truncate: small ver:&nbsp;{{item.version}}/{{item.platform_version}}&nbsp;
                        button.btn.btn-warning.btn-xs(ng-if="item.version != player.currentVersion.version",ng-click="swUpdate(item)")
                            i.fa.fa-arrow-circle-up


