.row.height100.overflow-hidden(autoscroll="false")
    .col-sm-6.height100.overflow-auto(autoscroll="false")
        div(ui-view="list", autoscroll="false")
    .col-sm-6.height100.overflow-auto
        div(ui-view="right", autoscroll="false")
