.panel.panel-info
    .panel-heading
        h3.panel-title Playlists
            a.btn.btn-sm.btn-link.pull-right(ng-click='fn.edit()'): em(ng-class="{'text-danger':!fn.editMode,'text-success':fn.editMode}")
                | {{fn.editMode?'Done':'Edit'}}
    .form-group
        form(name="addform", ng-submit='fn.add()')
                .input-group.col-xs-12
                    input.form-control(type='text', ng-model='newPlaylist.name',required)
                    span.input-group-btn
                        button.btn.btn-info(type="submit")
                            i.fa.fa-plus

    ul.nav.nav-pills.nav-stacked
        li(ng-repeat="playlist in playlists",ng-class="fn.getClass(playlist)")
            a(ng-click="fn.selected(playlist)")
                .row
                    .col-sm-10
                        small(ng-hide="playlist.renameEnable && fn.editMode") {{ playlist.name }}
                        .form-group(ng-show="playlist.renameEnable && fn.editMode")
                            input.form-control(type='text', ng-model='playlist.newname',ng-blur="fn.rename($index)")
                    .col-sm-2
                        button.close(ng-click='$event.stopPropagation();fn.delete($index);',ng-if="fn.editMode")
                            i.fa.fa-times-circle(ng-class="{'text-danger': fn.editMode}")

