
<div style="margin-bottom:5px;" class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Drag files to Add/Remove<a ng-click="fn.edit()" class="btn btn-sm btn-link pull-right"><em ng-class="{'text-danger':!fn.editMode,'text-success':fn.editMode}">{{fn.editMode?'Done':'Edit'}}</em></a></h3>
  </div>
</div>
<accordion close-others="false" ng-if="!fn.editMode">
  <accordion-group ng-repeat="(playlist,obj) in filterPlaylistName(groupWiseAssets) " is-open="true">
    <accordion-heading>
      <h5 ng-click="fn.selected(playlist,obj.isOpen)">{{playlist}} &nbsp;<span class="badge pull-right">{{obj.assets.length}}</span></h5>
    </accordion-heading>
    <ul as-sortable="sortableOptions" ng-model="obj.assets" class="list-group">
      <li ng-repeat="file in obj.assets track by $index" as-sortable-item="as-sortable-item" ng-class="{&quot;list-group-item-danger&quot;:file.deleted}" ng-click="loadAsset(file.fileDetails.name)" class="list-group-item">
        <div as-sortable-item-handle="as-sortable-item-handle" class="media">
          <!--a(ng-href="#").pull-leftimg.media-object.img-rounded(ng-src='{{file.fileDetails.thumbnail}}')
          -->
          <!--.letter-box.media-object.pull-left.img-rounded(ng-if='!file.fileDetails.thumbnail')| {{file.fileDetails.type.slice(0,1) || 'N'}}
          -->
          <div class="media-body">
            <div class="row">
              <div class="col-sm-9">
                <h6>{{file.fileDetails.name }}</h6>
              </div>
              <!--.col-sm-4(ng-if="file.fileDetails.labels")small.bg-info {{file.fileDetails.labels}}
              -->
              <!--.col-sm-2
              h6(ng-if="file.fileDetails.resolution.width")
                  strong {{file.fileDetails.resolution.width}}x{{file.fileDetails.resolution.height}}
              -->
              <div class="col-sm-3 pull-right">
                <h6 ng-if="(!file.playlistDetails || file.playlistDetails.isVideo) &amp;&amp; file.fileDetails.duration &gt; 0"><strong>{{file.fileDetails.duration}} seconds</strong></h6>
                <input ng-if="file.playlistDetails &amp;&amp; !file.playlistDetails.isVideo" type="number" ng-model="file.playlistDetails.duration" min="5" class="form-control input-sm"/>
              </div>
            </div>
            <div ng-show="obj.playlist.layout &amp;&amp; obj.playlist.layout != '1'" class="row text-danger">
              <div class="col-sm-12"><span ng-show="obj.playlist.layout != '2ap'">
                  <button ng-click="linkFile(file.playlistDetails,'side')" class="btn btn-xs btn-info"><span>Side Zone:&nbsp; {{file.playlistDetails.side || "Select a file"}}</span></button>
                  <button ng-if="file.side" ng-click="file.side=null" class="btn btn-xs btn-warning">X</button></span><span ng-show="obj.playlist.layout != '2a' &amp;&amp; obj.playlist.layout != '2b'">
                  <button ng-click="linkFile(file,'bottom')" class="btn btn-xs btn-info"><span>Bottom Zone: {{file.playlistDetails.bottom || "Select a file"}}</span></button>
                  <button ng-if="file.bottom" ng-click="file.bottom=null" class="btn btn-xs btn-warning">X</button></span></div>
            </div>
          </div>
        </div>
      </li><strong ng-show="!obj.assets.length" class="text-danger">No Files</strong>
    </ul>
  </accordion-group>
</accordion>