services:
  mongo:
    image: mongo:4.2.8
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - mongodb:/data/db
      - mongodb_config:/data/configdb
  pisignage-server:
    image: pisignage/pisignage-server:latest
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - media:/media
      - data:/data
    depends_on:
      - mongo
#    command: ["./wait-for-it.sh", "mongo:27017", "--", "node", "server.js"]

volumes:
  mongodb:
  mongodb_config:
  media:
  data:
