doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Server to manage piSignage players in a LAN or Private Network')
        meta(name='author', content='ariemtech')
        meta(name='copyright', content=', Copyright (c) 2015')
        link(rel='icon', href='app/img/pisignage-logo.png')
        title pisignage-server
        // Bootstrap core CSS
        link(rel='stylesheet', href='app/css/bootstrap.min.css')
        link(rel='stylesheet', href='app/css/font-awesome.min.css')
        link(rel='stylesheet', href='app/css/lato.min.css')

        script(src='app/lib/angular/angular.min.js')
    body(ng-app="piServerApp", style="height:100%")
        div(ui-view="",,autoscroll="false", style="height:100%") Please wait while the app loads
