html {
    height:100%;
}

body {
    margin: auto;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:100%;
    padding-top:70px;
}

.height100 {
    height: 100%;
}

.overflow-hidden {
    overflow:hidden;
}

.overflow-auto {
    overflow:auto;
}


.letter-box {
    width: 64px;
    height: 64px;
    background: lightskyblue;
    text-align: center;
    font-size: 32px;
    line-height: 64px;
    color: #f8f8ff;
}


.select-xs {
    height: 20px;
    padding: 2px 2px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 2px;
}

.media-object {
    max-height: 64px;
}

