html {
    height:100%;
}

body {
    /*max-width: 1280px;*/
    margin: auto;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:100%;
    padding-top:70px;
}

.height100 {
    height: 100%;
}

.overflow-hidden {
    overflow:hidden;
}

.overflow-auto {
    overflow:auto;
}


.letter-box {
    width: 64px;
    height: 64px;
    background: lightskyblue;
    text-align: center;
    font-size: 32px;
    line-height: 64px;
    color: #f8f8ff;
    text-decoration: none !important;
}


.select-xs {
    height: 20px;
    padding: 2px 2px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 2px;
}

.media-object {
    max-height: 64px;
}

.subtle-text {
    color: #b8b8b8 !important;
}

.categories {
    max-height: 300px;
    overflow: auto;
}

.drop-notification {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color:#111;
    color:#fff;
    padding:30px;
}
.dim {
    opacity: 0.5;
}

.modal-content > .panel {
    margin-bottom: 0px;
}

.group-multiselect {
    width: 160px;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
}


.text-left {
    text-align: left;
}

.text-white {
    color:#fff;
}

.text-lightyellow {
    color:lightyellow;
}

.text-lightgreen {
    color:lightgreen;
}
.success{
  background:  	#00C993;
}
.primary{
    background:  #01A9D8;
}
.info{
    background: #A088F6;
}
.warning{
    background: #E4D757;
}
.light-danger{
    background: #EEA1A9;
}
.danger{
    background: #EB4559;
}
.pl-5 {
    padding-left: 5px;
}
.pl-10 {
    padding-left: 10px;
}
.pr-5 {
    padding-right: 5px;
}
.pr-10 {
    padding-right: 10px;
}

.landscape {
    max-height:988px;
    max-width:468px;
}

.portrait {
    max-height:468px;
    max-width:988px;
    transform: rotate(-90deg);
}

.portrait270 {
    max-height:468px;
    max-width:988px;
    transform: rotate(90deg);
}






