.modal-content
    .modal-header.bg-info
        h4.text-center() Make this as Advt. Playlist
    .modal-body
        form.form-horizontal

            .form-group
                .col-sm-6
                    p() By making this as Advt. playlist, you can insert the assets of this playlist periodically in between the currently
                        | playing playlist.
                .col-sm-6
                    .checkbox
                        label
                            input(type="checkbox",ng-model='playlist.selectedPlaylist.settings.ads.adPlaylist')
                            span() Make this as Advt. Playlist
            .form-group(ng-show="playlist.selectedPlaylist.settings.ads.adPlaylist")
                .col-sm-6
                    p()   You can play the assets only on side and banner zones by disabling main zone here.
                        | Still you have to select dummy file for main zone
                .col-sm-6
                    .checkbox
                        label
                            input(type="checkbox",,ng-model='playlist.selectedPlaylist.settings.ads.noMainPlay')
                            span() Play only in side/banner zones
            .form-group(ng-show="playlist.selectedPlaylist.settings.ads.adPlaylist")
                label.col-sm-4.control-label() Play
                .col-sm-3
                    .input-group
                        input.form-control(type='number',ng-model='playlist.selectedPlaylist.settings.ads.adCount')
                        .input-group-addon
                            small.text-muted(translate)  assets
                .col-sm-5
                    .input-group
                        .input-group-addon
                            small.text-muted(translate)  after every
                        input.form-control(type='number',ng-model='playlist.selectedPlaylist.settings.ads.adInterval')
                        .input-group-addon
                            small.text-muted(translate)  seconds

            .form-group
                .col-sm-6.col-sm-offset-6
                    button.btn.btn-success(ng-click="saveSettings()") Save
    .modal-header.bg-info
        h4.text-center Play this playlist only once during selected duration
    .modal-body
        form.form-horizontal
            .form-group
                .col-sm-6
                    p Play this playlist once every selected duration by stopping regular playlist
                        | ,acts like insertion of advt at fixed intervals
                .col-sm-6
                    .checkbox
                        label
                            input(type="checkbox",ng-model='playlist.selectedPlaylist.settings.domination.enable')
                            span Enable (Domination Content)
            .form-group(ng-show="playlist.selectedPlaylist.settings.domination.enable")
                .col-sm-6
                    p Play after every
                .col-sm-6
                    .input-group
                        input.form-control(type='number',ng-model='playlist.selectedPlaylist.settings.domination.timeInterval')
                        .input-group-addon
                            small(translate)  minutes


    .modal-header.bg-info
        h4.text-center() Play this as independent Audio Playlist for the aux port
    .modal-body
        form.form-horizontal

            .form-group
                .col-sm-6
                    p() In addition to signage functionality, you can play audio from a playlist
                        | through the 3.5mm jack
                .col-sm-6
                    .checkbox
                        label
                            input(type="checkbox",ng-model='playlist.selectedPlaylist.settings.audio.enable')
                            span() Play songs from this playlist (need to contain only mp3 files)
            .form-group(ng-show="playlist.selectedPlaylist.settings.audio.enable")
                .col-sm-6
                    p()
                .col-sm-6
                    .checkbox
                        label
                            input(type="checkbox",,ng-model='playlist.selectedPlaylist.settings.audio.random')
                            span() Play in random order
            .form-group(ng-show="playlist.selectedPlaylist.settings.audio.enable")
                .col-sm-6
                    p()
                .col-sm-6
                    input.form-control(type='number',min=0,max=100,ng-model='playlist.selectedPlaylist.settings.audio.volume',
                                            placeholder="{{'Enter value in %' }}")
            .form-group
                .col-sm-6.col-sm-offset-6
                    button.btn.btn-success(ng-click="saveSettings()") Save
    .modal-header.bg-info
        h4.text-center() Make this as Event Playlist
    .modal-body
        form.form-horizontal
            .form-group
                .col-sm-6
                    p When SIGUSR2 event is signalled this playlist is played if eligible
                .col-sm-6
                    .checkbox
                        label
                            input(type="checkbox",ng-model='playlist.selectedPlaylist.settings.event.enable')
                            span() Enable
            .form-group(ng-show="playlist.selectedPlaylist.settings.event.enable")
                .col-sm-6
                    p Duration of the playlist, 0 to play till next event
                .col-sm-6
                    input.form-control(type='text',ng-model='playlist.selectedPlaylist.settings.event.duration',
                    placeholder="{{'Enter value in seconds'}}")

            .form-group
                .col-sm-6.col-sm-offset-6
                    button.btn.btn-success(ng-click="saveSettings()") Save
