.modal-header
    h4.text-center() Make this as Advt. Playlist
.modal-body
    form.form-horizontal

        .form-group
            .col-sm-6
                p() By making this as Advt. playlist, you can insert the assets of this playlist periodically in between the currently
                    | playing playlist.
            .col-sm-6
                .checkbox
                    label
                        input(type="checkbox",ng-model='playlist.selectedPlaylist.settings.ads.adPlaylist')
                        span() Make this as Advt. Playlist
        .form-group
            .col-sm-6
                p()   You can play the assets only on side and banner zones by disabling main zone here.
                    | Still you have to select dummy file for main zone due to our UI issue! We will correct it soon.
            .col-sm-6
                .checkbox
                    label
                        input(type="checkbox",,ng-model='playlist.selectedPlaylist.settings.ads.noMainPlay')
                        span() Play only in side/banner zones
        .form-group
            label.col-sm-6.control-label() Play one asset after every seconds
            .col-sm-2
                input.form-control(type='text',ng-model='playlist.selectedPlaylist.settings.ads.adInterval')

        .form-group
            .col-sm-6.col-sm-offset-6
                button.btn.btn-success(ng-click="saveSettings()") Save