
<div ng-if="operation" class="modal-content">
  <div class="modal-header bg-default">
    <h4 class="modal-title"><span ng-if="operation == 'delete'" class="text-danger">Do you want to delete the selected files?</span><span ng-if="operation == 'assign'">Assign the category to the selected files</span></h4>
  </div>
  <div class="modal-body">
    <div ng-if="adminServer &amp;&amp; operation == 'assign'">
      <h5>Select Categories for the files</h5>
      <categories selected-labels="upload.selectedLabels" labels="upload.labels" class="categories"></categories><br/>
      <form class="form-inline row">
        <div class="form-group col-sm-6">
          <div class="input-group">
            <!--label: small new-->
            <input type="text" ng-model="newLabel.name" placeholder="{{'add new' }}" class="form-control input-sm"/>
            <div class="input-group-btn">
              <button type="submit" ng-click="upload.addLabel()" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        <div ng-if="msg.error" ng-bind="msg.error" class="text-danger"></div>
      </form>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p ng-if="ngDropdown.filtered.msg" ng-bind="ngDropdown.filtered.msg" class="text-info pull-right"></p>
      </div>
      <div class="col-sm-12">
        <div class="btn-toolbar pull-right">
          <button ng-click="ngDropdown.modalClose()" ng-hide="ngDopdown.filtered.msg" class="btn btn-default">Cancel</button>
          <button ng-click="proceed()" ng-hide="ngDopdown.filtered.msg" class="btn btn-primary">Proceed</button>
          <button ng-click="ngDropdown.modalClose()" ng-show="ngDopdown.filtered.msg" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <h5>Selected files</h5>
    <div class="row">
      <div ng-repeat="file in bulkSelectedFiles" class="col-sm-6"><small class="text-muted">{{file | truncate:40}}</small></div>
    </div>
  </div>
</div>
<div ng-if="!operation" class="modal-content">
  <div class="modal-header bg-default">
    <h4 class="modal-title">Please select at least 1 file
      <button ng-click="bulkModal.close()" class="btn-xs btn-link fa fa-close pull-right"></button>
    </h4>
  </div>
</div>