.modal-header
    button.close(ng-click='cancel()') &times;
    h3.text-danger(translate="translate") Please Confirm
.modal-body
    h5
        span( ng-show="!noPrepend",translate="translate") Do you want to delete:
        b &nbsp{{deleteText}}
        |&nbsp?
.modal-footer
    button.btn(ng-click='cancel()',translate="translate") Cancel
    button.btn.btn-danger(ng-click='ok()',translate="translate") OK