<div class="modal-header">
  <button class="close" ng-click="cancel()">&times;</button>
  <h3 class="text-danger" translate="translate">Please Confirm</h3>
</div>
<div class="modal-body">
  <h5><span ng-show="!noPrepend" translate="translate">Do you want to delete:</span><b>&nbsp{{deleteText}}</b>&nbsp?</h5>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="cancel()" translate="translate">Cancel</button>
  <button class="btn btn-danger" ng-click="ok()" translate="translate">OK</button>
</div>