.modal-header
	h4 Select Display Orientation and Resolution
.modal-body
	form(role="form", name="formdisplay")
		.form-group.row
			.col-sm-4.text-right
				b Resolution
			.col-sm-8
				select.form-control(ng-options="entry.value as entry.name for entry in resolutions", ng-model="group.resolution")
					option(value="") -----------select resolution-----------
		.form-group.row
			.col-sm-4.text-right
				b Orientation
			.col-sm-8
				select.form-control(ng-options="entry.value as entry.name for entry in orientations", ng-model="group.orientation")
					option(value="") -----------select orientation-----------
.modal-footer
	button.btn(ng-click='displayModal.close()') Cancel
	button.btn.btn-danger(ng-click='saveSettings()') OK