
<div class="modal-header">
  <h4>Select Display Orientation and Resolution</h4>
</div>
<div class="modal-body">
  <form role="form" name="formdisplay">
    <div class="form-group row">
      <div class="col-sm-4 text-right">
        <div class="radio">
          <label translate="translate" class="text-muted">Resolution</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="radio">
          <label>
            <input type="radio" ng-model="group.selectedGroup.resolution" ng-value="resolutions[0].value"/><small>{{resolutions[0].name}}</small>
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="radio">
          <label>
            <input type="radio" ng-model="group.selectedGroup.resolution" ng-value="resolutions[1].value"/><small>{{resolutions[1].name}}</small>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4 text-right">
        <div class="radio">
          <label translate="translate" class="text-muted">TV Orientation</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="radio">
          <label>
            <input type="radio" ng-model="group.selectedGroup.orientation" ng-value="orientations[0].value"/><small>{{orientations[0].name}}</small>
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div ng-repeat="type in orientations" ng-if="$index &gt; 0" class="radio">
          <label>
            <input type="radio" ng-model="group.selectedGroup.orientation" ng-value="type.value"/><small>{{type.name}}</small>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4 text-right">
        <div class="radio">
          <label class="text-muted"><span translate="translate">Animation</span>
            <!--| <br>-->
            <!--span(translate) (only in pi 2)-->
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="radio">
          <label>
            <input type="radio" ng-model="group.selectedGroup.animationEnable" ng-value="animations[0].value"/><small>{{animations[0].name}}</small>
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="radio">
          <label>
            <input disabled="disabled" type="radio" ng-model="group.selectedGroup.animationEnable" ng-value="animations[1].value"/><small>{{animations[1].name}}</small>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-4 text-right">
        <div class="radio">
          <label class="text-muted"><span>Signage Background CSS Color</span></label>
        </div>
      </div>
      <div class="col-xs-4">
        <input type="text" placeholder="e.g. #666" ng-model="group.selectedGroup.signageBackgroundColor" class="form-control"/>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-4 text-right">
        <div class="radio">
          <label class="text-muted">Display a Logo</label>
        </div>
      </div>
      <div class="col-xs-4">
        <button ng-click="showFileList()" class="btn btn-sm btn-link"><span>{{group.selectedGroup.logo || "Select a png image from Assets"}}</span></button>
        <button ng-if="group.selectedGroup.logo" ng-click="group.selectedGroup.logo=null" class="btn btn-xs btn-warning">X</button>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <input type="text" placeholder="x pos" ng-model="group.selectedGroup.logox" class="input-sm form-control"/>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <input type="text" placeholder="y pos" ng-model="group.selectedGroup.logoy" class="input-sm form-control"/>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4 text-right">
        <div class="radio">
          <label class="text-muted"><span>Do not Reload URL for links every time</span></label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="reload_checkbox" ng-model="group.selectedGroup.urlReloadDisable"/><span>Enable</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4 text-right">
        <div class="radio">
          <label class="text-muted"><span>Schedule Display OFF</span></label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="sleep_checkbox" ng-model="group.selectedGroup.sleep.enable"/><span>Enable</span>
          </label>
        </div>
      </div>
    </div>
    <div ng-show="group.selectedGroup.sleep.enable" class="form-group row">
      <div class="col-sm-4 col-sm-offset-4">
        <label><small>ON at</small>
          <input type="time" ng-model="group.selectedGroup.sleep.ontimeObj" class="form-control"/>
        </label>
      </div>
      <div class="col-sm-4">
        <label><small>OFF at</small>
          <input type="time" ng-model="group.selectedGroup.sleep.offtimeObj" class="form-control"/>
        </label>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="displayModal.close()" class="btn">Cancel</button>
  <button ng-click="saveSettings()" class="btn btn-danger">OK</button>
</div>