.modal-header
    h4.text-info Subscribe to a Google Calendar for Events
.modal-body
    form(name='emailForm',action="/api/gcal/authorize", method='POST',)
        .form-group(ng-class="{ 'has-error': emailForm.email.$invalid && emailForm.email.$dirty }")
            h4 Google User ID
            input.form-control(type='email',name="email",ng-model='email',placeholder='Enter Your Google User ID',required)
        p You will be redirected to Google Accounts page now with the chosen ID as the account.
          |   After logging into the account, accept the permisson request from PiSignage app.
        button.btn.btn-primary(type='submit', ng-disabled="emailForm.email.$error.required") Proceed >>
