
<div class="modal-header">
  <h4 class="text-info" translate="translate">Subscribe to a Google Calendar for Events</h4>
</div>
<div class="modal-body">
  <form name="emailForm" action="/api/gcal/authorize" method="POST">
    <div class="form-group" ng-class="{ 'has-error': emailForm.email.$invalid &amp;&amp; emailForm.email.$dirty }">
      <h4 translate="translate">Google User ID</h4>
      <input class="form-control" type="email" name="email" ng-model="email" placeholder="{{'Enter Your Google User ID' | translate}}" required>
    </div>
    <p translate="translate">
      You will be redirected to Google Accounts page now with the chosen ID as the account.  After logging into the account, accept the permisson request from PiSignage app.</p>
    <button class="btn btn-primary" type="submit" ng-disabled="emailForm.email.$error.required" translate="translate">Proceed >></button>
  </form>
</div>