
<div class="modal-header">
  <h4><span>Player settings for the player&nbsp;</span><span>{{selectedPlayer.name || selectedPlayer.localName}}</span>
    <button ng-click="settingsModal.close()" class="btn btn-info btn-sm pull-right">Done</button>
  </h4>
</div>
<div class="modal-body">
  <form role="form" name="playersettings">
    <div class="form-group row">
      <label class="control-label col-sm-3">Selected Group</label>
      <div class="col-sm-6">
        <select ng-model="selectedGroup" ng-change="assignGroup(selectedGroup)" ng-options="group for group in group.groupNames" class="form-control">
          <option value="">-- none --</option>
        </select>
      </div>
    </div>
    <div ng-show="playerLabels.length" class="form-group row">
      <label class="control-label col-sm-3"> Select Labels</label>
      <div ng-if="playerLabels" class="col-sm-6">
        <div ng-dropdown-multiselect="" options="playerLabels" selected-model="ngDropdown.selectedLabels" events="ngDropdown.events" translation-texts="ngDropdown.customTexts" extra-settings="ngDropdown.extraSettings" checkboxes="true"></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="form-group row">
    <label class="control-label col-sm-7 col-sm-offset-3 text-danger"> Delete the player from server data base</label>
    <div class="col-sm-2">
      <button ng-click="deregister()" class="btn btn-danger btn-sm pull-right">DELETE</button>
    </div>
  </div>
</div>