
<div style="margin-bottom:0px;" class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="text-center">Select Display Layout (default 1)
      <button ng-click="modal.close()" class="btn btn-success pull-right">DONE</button>
    </h4>
  </div>
  <div class="panel-body">
    <tabset>
      <tab heading="Layouts"><i><small>
            The Display can be divided into multiple zones with each zone playing different content. Video files can be played
            only in the main Zone. Select a file in the playlist to play in the main zone,add other zone files to the main file
            by clicking zone file button. If there is no file attached to a particular zone, the previous content for that zone
            will continue to play.</small></i>
        <ul class="list-group">
          <li ng-repeat="(ltype,item) in layouts" ng-class="{'list-group-item-success':playlist.selectedPlaylist.layout == ltype}" class="list-group-item">
            <div class="row">
              <div dropdown="dropdown" class="col-sm-10 dropdown">
                <div class="radio">
                  <label>
                    <input type="radio" value="{{ltype}}" ng-change="saveLayout()" ng-disabled="item.disabled" ng-model="playlist.selectedPlaylist.layout"/><strong class="text-primary">{{ltype}}: &nbsp;{{item.title}}</strong>
                    <p><small>({{item.description}})</small></p>
                  </label>
                </div>
                <button dropdown-toggle="dropdown-toggle" ng-if="ltype.indexOf('custom') === 0" class="btn btn-sm btn-link dropdown-toggle"><small class="text-muted">layout file:&nbsp;</small><small>{{playlist.selectedPlaylist.templateName || "Select a custom_layout*.html file from Assets"}}</small><i class="fa fa-caret-down"></i></button>
                <ul role="menu" ng-if="ltype.indexOf('custom') === 0" class="dropdown-menu">
                  <li ng-repeat="asset in asset.files | filter:customTemplates"><a href="#" ng-click="selectTemplate(asset,ltype)">&nbsp;&nbsp;{{asset}}</a></li>
                </ul>
              </div>
              <div class="col-sm-2"><img height="40px" ng-src="/app/img/{{ltype}}.png"/></div>
            </div>
          </li>
        </ul>
      </tab>
      <tab heading="Main Video Window">
        <h4>Change Main Zone video window size</h4><i><small>This section is for Advanced user only!! Changing any parameter would affect the video display size.</small>If encountered any problem just click 'Resore Defaults'. The `length` and `width` parameters define the actual window size,
          `Left-offset` and `Top-Offset` defines the position of the window across your display.<b>USE THIS FEATURE CAUTIOUSLY</b></i>
        <form name="layoutform">
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Width:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Height:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="fullscreen_checkbox" ng-model="videoWindow.mainzoneOnly" ng-true-value="false" ng-false-value="true" ng-checked="videoWindow.mainzoneOnly !== true"/><small class="text-muted pl-5">Use as FULL SCREEN dimensions also(for custom displays)</small>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
              <button ng-click="setVideoWindow(null)" class="btn btn-danger">Restore Defaults</button>
            </div>
            <div class="col-sm-3">
              <button ng-click="setVideoWindow(videoWindow)" ng-disabled="!layoutform.$valid" class="btn btn-info">Save New Changes</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Side/Bottom Video Window">
        <h4>Change video window position for other zones</h4><i><small>This section is for custom layouts only !! Changing  Any parameter would affect the video display size in side and bottom zones.</small></i>
        <form name="sideZoneForm">
          <div class="alert alert-info text-center">Side Zone Values</div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Width:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Height:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('side',null)" class="btn btn-danger">Restore Side Zone Defaults</button>
            </div>
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('side',zoneVideoWindow.side)" ng-disabled="!sideZoneForm.$valid" class="btn btn-info">Save New Changes</button>
            </div>
          </div>
          <hr/>
        </form>
        <form name="bottomZoneForm">
          <div class="alert alert-info text-center">Bottom Zone Values</div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Width:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Height:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('bottom',null)" class="btn btn-danger">Restore Bottom Zone Defaults</button>
            </div>
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('bottom',zoneVideoWindow.bottom)" ng-disabled="!bottomZoneForm.$valid" class="btn btn-info">Save New Changes</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Zone4 Video" ng-if="playlist.selectedPlaylist.layout.indexOf('custom') === 0">
        <h4>Change video window position for zone4</h4><i><small>This section is for custom layouts only !! Changing  Any parameter would affect the video display size in zone4.</small></i>
        <form name="zone4Form">
          <div class="alert alert-info text-center">Zone4 Values</div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small translate="translate">Width:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.zone4.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small translate="translate">Height:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.zone4.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small translate="translate">Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.zone4.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small translate="translate">Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.zone4.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('zone4',null)" class="btn btn-danger">Restore Zone4 Defaults</button>
            </div>
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('zone4',zoneVideoWindow.zone4)" ng-disabled="!zone4Form.$valid" class="btn btn-info">Save New Changes</button>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</div>