
<div class="modal-header">
  <div class="row">
    <div class="col-xs-8">
      <h4 ng-show="link.obj.type != '.txt'">Stream From Internet</h4>
      <h4 ng-show="link.obj.type == '.txt'">Add a Message</h4>
    </div>
    <div class="col-xs-4 pull-right">
      <button ng-disabled="Utubeform.$invalid" ng-click="link.save()" class="btn btn-success btn-block">Save</button>
    </div>
  </div>
</div>
<div class="modal-body">
  <p ng-if="errorMessage" class="text-danger">{{errorMessage}}</p>
  <form role="form" name="Utubeform" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">File Name</label>
      <div class="col-sm-8">
        <input type="text" name="linkname" ng-model="link.obj.name" placeholder="Data will be saved in this file" required="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">File Type</label>
      <div class="col-sm-8">
        <select ng-options="entry.ext as entry.name for entry in link.types" name="linktype" ng-model="link.obj.type" required="" class="form-control"></select>
      </div>
    </div>
    <div ng-if="link.obj.type == '.mrss'" class="form-group">
      <label class="col-sm-4 control-label">RSS Text</label>
      <div class="col-xs-8">
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_none" ng-model="link.obj.hideTitle" value="none"/><small>image</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_title" ng-model="link.obj.hideTitle" value="title"/><small>image&title</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_description" ng-model="link.obj.hideTitle" value="description"/><small>image&descr</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_title_noimg" ng-model="link.obj.hideTitle" value="onlytitle"/><small>title</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_description_noimg" ng-model="link.obj.hideTitle" value="onlydescription"/><small>descr</small>
          </label>
        </div>
      </div>
    </div>
    <div ng-if="link.obj.type == '.mrss'" class="form-group">
      <label class="control-label col-sm-4">Item duration</label>
      <div class="col-sm-3">
        <input type="number" name="duration" placeholder="{{&quot;Duration of each feed item&quot;}}" ng-model="link.obj.duration" class="form-control"/>
      </div>
    </div>
    <div ng-if="link.obj.type != '.txt'" class="form-group">
      <label class="col-sm-4 control-label">Link Address</label>
      <div class="col-sm-8">
        <input type="text" name="linkUrl" ng-model="link.obj.link" ng-pattern="/^(http(s?)|rtsp|udp):///" placeholder="{{'e.g. http(s)://site.com or rtsp://'}}" required="" class="form-control"/>
      </div>
    </div>
    <div ng-if="link.obj.type == '.weblink'" class="row">
      <label translate="translate" class="control-label col-sm-2">Zoom level</label>
      <div class="col-sm-2">
        <input type="number" step="0.01" name="style" placeholder="Leave blank for no-zoom" ng-model="link.obj.zoom" class="form-control"/>
      </div>
    </div>
    <div ng-if="link.obj.type == '.txt'" class="form-group">
      <label class="col-sm-4 control-label">Optional CSS</label>
      <div class="col-sm-8">
        <input type="text" name="style" placeholder="e.g. color:#eee; font-style:italic;" ng-model="link.obj.style" class="form-control"/>
      </div>
    </div>
    <div ng-if="link.obj.type == '.txt'" class="form-group">
      <label class="col-sm-4 control-label">Message</label>
      <div class="col-sm-8">
        <textarea rows="4" cols="50" name="message" ng-model="link.obj.message" required="" class="form-control"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <h5 class="pull-left text-muted">Select Categories for the link</h5>
  <p class="pull-left">
    <categories selected-labels="linkCategories"></categories>
  </p>
</div>