
<div class="modal-header">
  <div class="row">
    <div class="col-xs-8">
      <h4>Stream From Internet</h4>
    </div>
    <div class="col-xs-4 pull-right">
      <button ng-disabled="Utubeform.$invalid" ng-click="link.save()" class="btn btn-success btn-block">Save</button>
    </div>
  </div>
</div>
<div class="modal-body">
  <p ng-if="errorMessage" class="text-danger">{{errorMessage}}</p>
  <form role="form" name="Utubeform">
    <div class="form-group row">
      <label class="col-sm-4 control-label">File Name</label>
      <div class="col-sm-8">
        <input type="text" name="linkname" ng-model="link.obj.name" placeholder="link will be saved in this file" required="" class="form-control"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 control-label">Link Type</label>
      <div class="col-sm-8">
        <select ng-options="entry.ext as entry.name for entry in link.types" name="linktype" ng-model="link.obj.type" required="" class="form-control"></select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 control-label">Link Address</label>
      <div class="col-sm-8">
        <input type="url" name="linkUrl" ng-model="link.obj.link" placeholder="Actual link" required="" class="form-control"/>
      </div>
    </div>
  </form>
</div>