.modal-header
    .row
        .col-xs-8
            h4 Stream From Internet
        .col-xs-4.pull-right
            button.btn.btn-success.btn-block(ng-disabled='Utubeform.$invalid',ng-click='link.save()') Save
.modal-body
    p.text-danger(ng-if="errorMessage") {{errorMessage}}
    form(role='form',name='Utubeform')
        .form-group.row
            label.col-sm-4.control-label File Name
            .col-sm-8
                input.form-control(type='text',name='linkname' , ng-model='link.obj.name',placeholder='link will be saved in this file',required='')
        .form-group.row
            label.col-sm-4.control-label Link Type
            .col-sm-8
                select.form-control(ng-options='entry.ext as entry.name for entry in link.types',name='linktype', ng-model='link.obj.type', required='')
            .col-xs-4.col-xs-offset-4(ng-show="link.obj.type=='.mrss'")
                .checkbox
                    label
                        input(type='checkbox',name='title_checkbox', ng-model='link.obj.hideTitle')
                        span Hide Title text
        .form-group.row
            label.col-sm-4.control-label Link Address
            .col-sm-8
                input.form-control(type='text',name='linkUrl', ng-model='link.obj.link',
                            ng-pattern="/^(http(s?)|rtsp|udp)\:\/\//",
                            placeholder="{{'e.g. http(s)://site.com or rtsp://'}}",required='')

.modal-footer
    h5.pull-left.text-muted Select Categories for the link
    p.pull-left
        categories(selected-labels="linkCategories")
