
<div style="margin-bottom:0px;" class="panel panel-primary">
  <div class="panel-heading">
    <h4><span>Available Files</span>
      <button ng-click="fileDisplayModal.close()" class="btn btn-default pull-right">Cancel</button>
    </h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">
      <input type="text" placeholder="{{'Filter by Name' }}" ng-model="search" class="form-control"/>
    </li>
    <li ng-repeat="file in assetFiles | filter:imgFilter | filter:search " ng-click="saveAssetFile(file)" class="list-group-item">
      <div class="media">
        <div class="media-left"><a href="#" ng-if="filesDetails[file].thumbnail" class="pull-left"><img src="{{filesDetails[file].thumbnail}}" class="media-object"/></a>
          <div ng-if="!filesDetails[file].thumbnail" class="media-object letter-box img-rounded pull-left">{{filesDetails[file].type.slice(0,1) || 'N' }}</div>
        </div>
        <div class="media-body">
          <div class="media-heading">&nbsp;{{file}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>