
<div class="modal-content">
  <div class="modal-header bg-default">
    <button class="close" ng-click="scheduleValidityModal.close()">&times;</button>
    <h4 class="modal-title"><span class="pr-5 text-muted"> Add validity period for the asset:</span>{{forAsset.fileDetails.name}}</h4>
  </div>
  <div class="modal-body">
    <form role="form" id="schedulecal" name="schedulecal">
      <div class="form-group"><span class="help-block">You can add validity period for an asset to be shown on the screen (for e.g. sale duration)</span></div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="forAsset.fileDetails.validity.enable"/><span>Add validity period</span>
          </label>
        </div>
      </div>
      <div class="form-group row" ng-show="forAsset.fileDetails.validity.enable">
        <label class="col-sm-2 control-label">Valid from</label>
        <div class="col-sm-4">
          <input class="form-control input-sm" type="date" ng-model="forAsset.fileDetails.validity.startdate" ng-model-options="{timezone:'UTC'}" placeholder="{{'Starting on' }}" name="startdate" ng-attr-title="{{&quot;Enter Start Date&quot; }}"/>
        </div>
        <label class="col-sm-2 control-label text-right">till</label>
        <div class="col-sm-4">
          <input class="form-control input-sm" type="date" ng-model="forAsset.fileDetails.validity.enddate" ng-model-options="{timezone:'UTC'}" placeholder="Till date" name="enddate" title="{{&quot;Enter End Date&quot;}}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label text-muted" ng-show="forAsset.fileDetails.validity.startdate"> optional start hour (0-23)</label>
        <div class="col-sm-2" ng-show="forAsset.fileDetails.validity.startdate">
          <input class="form-control input-sm" type="number" ng-model="forAsset.fileDetails.validity.starthour" placeholder="0-23" ng-min="0" ng-max="23" name="starttime" ng-attr-title="Enter the hour on start date to start 0-23"/>
        </div>
        <label class="col-sm-4 control-label text-muted" ng-show="forAsset.fileDetails.validity.enddate">end hour (1-24)</label>
        <div class="col-sm-2" ng-show="forAsset.fileDetails.validity.enddate">
          <input class="form-control input-sm" type="number" ng-model="forAsset.fileDetails.validity.endhour" placeholder="1-24" ng-min="1" ng-max="24" name="endtime" title="Enter hour on end date to end 1-24"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="scheduleValidityModal.close()">Cancel</button>
    <button class="btn btn-primary" ng-click="saveValidity()">SAVE</button>
  </div>
</div>