.modal-header
    button.close(ng-click='cancel()') &times;
    h3.text-warning {{msg.title || "Status" }}
.modal-body
    h4 {{msg.msg}}
.modal-footer
    button.btn.btn-warning(ng-click='deployModal.close()') Dismiss