.modal-header
    h3.text-warning() Ticker for the Play-list
.modal-body
    form.form(name='playlist.popForm')
        .row.form-group
            small.text-muted.control-label.col-sm-3.text-right() Ticker
            .col-sm-9
                .checkbox-inline
                    label
                        input(type='checkbox',name='ticker_checkbox', ng-model='playlist.selectedPlaylist.settings.ticker.enable')
                        small Show
        .row.form-group(ng-show='playlist.selectedPlaylist.settings.ticker.enable')
            small.text-muted.col-sm-3.text-right Type
            .col-sm-9
                .radio-inline
                    label
                        input(type='radio',value='slide',ng-model='playlist.selectedPlaylist.settings.ticker.behavior')
                        small() Slide
                .radio-inline
                    label
                        input(type='radio',value='scroll',ng-model='playlist.selectedPlaylist.settings.ticker.behavior')
                        small() Scroll left
                .radio-inline
                    label
                        input(type='radio',value='scrollRight',ng-model='playlist.selectedPlaylist.settings.ticker.behavior')
                        small() Scroll right
        .row.form-group(ng-show='playlist.selectedPlaylist.settings.ticker.enable')
            small.text-muted.col-sm-3.text-right CSS
            .col-xs-8
                input.form-control(type='text',placeholder='e.g. color:#eee; font-style:italic; ',
                                        ng-model='playlist.selectedPlaylist.settings.ticker.style')
        .form-group.row(ng-show='playlist.selectedPlaylist.settings.ticker.enable')
            small.text-muted.control-label.col-sm-3.text-right() Ticker Speed
            .col-sm-9
                .radio-inline
                    label
                        input(type='radio',value='1',name="slow",ng-model='playlist.selectedPlaylist.settings.ticker.textSpeed')
                        small() Slow

                .radio-inline
                    label
                        input(type='radio',value='2',name="medium",ng-model='playlist.selectedPlaylist.settings.ticker.textSpeed')
                        small() Medium

                .radio-inline
                    label
                        input(type='radio',value='3',name="full",ng-model='playlist.selectedPlaylist.settings.ticker.textSpeed')
                        small() Full


        .row.form-group(ng-show='playlist.selectedPlaylist.settings.ticker.enable')
            .col-sm-6.col-sm-offset-3
                .checkbox-inline
                    label
                        input(type='checkbox',name='rss_checkbox', ng-model='playlist.selectedPlaylist.settings.ticker.rss.enable')
                        small() Use RSS feed

        .form-group.row(ng-show="playlist.selectedPlaylist.settings.ticker.enable && playlist.selectedPlaylist.settings.ticker.rss.enable")
            small.text-muted.col-sm-3.text-right Item duration
            .col-sm-6
                input.form-control(type='number',ng-model='playlist.selectedPlaylist.settings.ticker.rss.feedDelay',placeholder="{{'rss item duration in slide mode'}}")
        .form-group.row(ng-show="playlist.selectedPlaylist.settings.ticker.enable && playlist.selectedPlaylist.settings.ticker.rss.enable")
            small.text-muted.col-sm-3.text-right RSS feed Link
            .col-sm-8
                input.form-control(type='text',ng-model='playlist.selectedPlaylist.settings.ticker.rss.link',
                                    placeholder="enter your rss link ....")
                .checkbox-inline
                    label
                        input(type='checkbox',name='rss_encoding',ng-model='playlist.selectedPlaylist.settings.ticker.rss.encodeAsBinary')
                        small: i.text-primary Use Binary encoding for RSS, enable this if characters are not displayed properly
                br
                .checkbox-inline
                    label
                        input(type='checkbox',name='rss_field',ng-model='playlist.selectedPlaylist.settings.ticker.rss.useDescription')
                        small: i.text-primary Use description field of rss stream instead of title field
        .form-group.row(ng-show="playlist.selectedPlaylist.settings.ticker.enable && !playlist.selectedPlaylist.settings.ticker.rss.enable")
            small.text-muted.col-sm-3.text-right Add Messages for the ticker
            .col-sm-8
                textarea.form-control( name='ticker_messages',rows=5,
                                    ng-model='playlist.selectedPlaylist.settings.ticker.messages',
                                    placeholder="Enter messages here")
        .form-group.row
            .col-sm-9.col-sm-offset-3
                button.btn.btn-success(ng-click='saveSettings()') SAVE