.modal-header
    h3.text-warning() Ticker for the Play-list
.modal-body
    form.form(name='playlist.popForm')
        .row.form-group
            label.text-muted.control-label.col-sm-3.text-right: small Ticker
            .col-sm-2
                .checkbox-inline
                    label
                        input(type='checkbox',name='ticker_checkbox', ng-model='tickerObj.enable')
                        small Show
            label.text-muted.control-label.col-sm-4.text-right: small Show asset associated text
            .col-sm-2
                .checkbox-inline
                    label
                        input(type='checkbox',name="ticker_enable", ng-model='tickerObj.bannerText')
                        small &nbsp;

        .row.form-group(ng-show='tickerObj.enable')
            label.text-muted.control-label.col-sm-3.text-right: small Type
            .col-sm-9
                .radio-inline
                    label
                        input(type='radio',value='slide',ng-model='tickerObj.behavior')
                        small() Slide
                .radio-inline
                    label
                        input(type='radio',value='scroll',ng-model='tickerObj.behavior')
                        small() Scroll left
                .radio-inline
                    label
                        input(type='radio',value='scrollRight',ng-model='tickerObj.behavior')
                        small() Scroll right
                .radio-inline
                        label.text-info
                            small Hardware
                .radio-inline
                        label
                            input(type='radio',value='openvg_left',name="openvg_left",ng-model='tickerObj.behavior')
                            small left

                .radio-inline
                        label
                            input(type='radio',value='openvg_right',name="openvg_right",ng-model='tickerObj.behavior')
                            small right
        .form-group.row(ng-show='tickerObj.enable && tickerObj.behavior!= "openvg_right"&& tickerObj.behavior!= "openvg_left"')
            label.control-label.text-muted.col-sm-3.text-right: small Optional CSS
            .col-sm-9
                input.form-control.input-sm(type='text',placeholder='e.g. color:#eee; font-style:italic; ',ng-model='tickerObj.style')
        .form-group.row(ng-show='tickerObj.enable && (tickerObj.behavior== "openvg_right" || tickerObj.behavior== "openvg_left")')
            label.control-label.text-muted.col-sm-3.text-right: small  Font Size
            .col-sm-2
                input.form-control.input-sm(type='text',placeholder='28',ng-model='tickerObj.tickerFontSize')
            label.control-label.text-muted.col-sm-3.text-right: small  Width
            .col-sm-2
                input.form-control.input-sm(type='text',placeholder='0(full)',ng-model='tickerObj.tickerWidth')

        .form-group.row(ng-show='tickerObj.enable && (tickerObj.behavior== "openvg_right" || tickerObj.behavior== "openvg_left")')
            label.control-label.text-muted.col-sm-3.text-right: small  x position
            .col-sm-2
                input.form-control.input-sm(type='text',placeholder='0(left)',ng-model='tickerObj.tickerX')
            label.control-label.text-muted.col-sm-3.text-right: small  y position
            .col-sm-2
                input.form-control.input-sm(type='text',placeholder='0(bottom)',ng-model='tickerObj.tickerY')
        .form-group.row(ng-show='tickerObj.enable')
            label.text-muted.control-label.col-sm-3.text-right: small  Ticker Speed
            .col-sm-9
                .radio-inline
                    label
                        input(type='radio',value='1',name="slow",ng-model='tickerObj.textSpeed')
                        small() Slow

                .radio-inline
                    label
                        input(type='radio',value='2',name="medium",ng-model='tickerObj.textSpeed')
                        small() Medium

                .radio-inline
                    label
                        input(type='radio',value='3',name="full",ng-model='tickerObj.textSpeed')
                        small() Full

        .form-group.row(ng-show='tickerObj.enable')
            label.text-muted.control-label.col-sm-3.text-right Ticker Height
            .col-sm-5
                .radio-inline
                    label
                        input(type='radio',value='60',name="regular",ng-model='tickerObj.tickerHeight')
                        small Default(60px)

                .radio-inline
                    label
                        input(type='radio',value='100',name="large",ng-model='tickerObj.tickerHeight')
                        small Large(100px)

            .col-sm-4
                label.text-muted.col-sm-4.text-right custom
                .col-sm-8
                    input.input-sm.form-control(type='text',ng-model='tickerObj.tickerHeight',placeholder="Custom")



        .row.form-group(ng-show='tickerObj.enable')
            .col-sm-6.col-sm-offset-3
                .checkbox-inline
                    label
                        input(type='checkbox',name='rss_checkbox', ng-model='tickerObj.rss.enable')
                        small() Use RSS feed

        .form-group.row(ng-show="tickerObj.enable && tickerObj.rss.enable")
            label.text-muted.control-label.col-sm-3.text-right: small Item duration
            .col-sm-6
                input.form-control(type='number',ng-model='tickerObj.rss.feedDelay',placeholder="{{'rss item duration in slide mode'}}")
        .form-group.row(ng-show="tickerObj.enable && tickerObj.rss.enable")
            label.text-muted.control-label.col-sm-3.text-right: small RSS feed Link
            .col-sm-8
                input.form-control(type='text',ng-model='tickerObj.rss.link',
                                    placeholder="enter your rss link ....")
                .checkbox-inline
                    label
                        input(type='checkbox',name='rss_encoding',ng-model='tickerObj.rss.encodeAsBinary')
                        small: i.text-primary Use Binary encoding for RSS, enable this if characters are not displayed properly
                br
                .checkbox-inline
                    label
                        input(type='checkbox',name='rss_field',ng-model='tickerObj.rss.useDescription')
                        small: i.text-primary Use description field of rss stream instead of title field
        .form-group.row(ng-show="tickerObj.enable && !tickerObj.rss.enable")
            label.text-muted.control-label.col-sm-3.text-right: small Add Messages for the ticker
            .col-sm-8
                textarea.form-control( name='ticker_messages',rows=5,
                                    ng-model='tickerObj.messages',
                                    placeholder="Enter messages here")
        .form-group.row
            .col-sm-9.col-sm-offset-3
                button.btn.btn-success(ng-click='saveTickerSettings()') SAVE