
<div class="modal-header">
  <h3 class="text-warning">{{msg.title}} Status    </h3>
</div>
<div class="modal-body">
  <h4>{{msg.msg}}</h4>
  <div ng-if="msg.buttonText == 'Continue'">
    <hr/>
    <h5>Select Categories for the files</h5>
    <categories selected-labels="upload.selectedLabels" labels="upload.labels"></categories>
    <form class="form-inline">
      <div class="form-group">
        <label><small>new</small></label>
        <input class="form-control input-sm" type="text" ng-model="newLabel.name" required="required"/>
      </div>
      <button class="btn btn-success btn-xs" type="submit" ng-click="upload.addLabel()"><i class="fa fa-plus"></i></button>
    </form>
    <div class="text-danger" ng-if="msg.error" ng-bind="msg.error"></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="upload.abort()" ng-show="msg.buttonText == 'Uploading' ">Cancel</button>
  <button class="btn btn-warning" ng-click="upload.modalOk()" ng-bind="msg.buttonText" ng-disabled="msg.disable"></button>
</div>