include ./common-layout
    block more_scripts
        script(src='/app/lib/nvd3/d3.v2.min.js')
        script(src='/app/lib/nvd3/nv.d3.min.js')
        script(src='/app/lib/nvd3/angularjs-nvd3-directives.min.js')
        script(src='/app/lib/ng-csv/ng-csv.min.js')
        script(src='/app/js/piConfig.js')
        script(src='/app/js/controllers/piIndex.js')
        script(src='/app/js/controllers/piUser.js')
        script(src='/app/js/controllers/server.js')
        script(src='/app/js/controllers/groups.js')
        script(src='/app/js/controllers/assets.js')
        script(src='/app/js/controllers/playlists.js')
        script(src='/app/js/controllers/notices.js')
        script(src='/app/js/controllers/labels.js')
        script(src='/app/js/directives/pi.js')
        script(src='/app/js/filters/pi.js')
        script(src='/app/js/services/pi.js')
        script(src='/app/js/services/piUser.js')
        script(src='/app/js/appPc.js')

